{% extends "writing/writing-base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/writing-base.css">
{% endblock %}

{% block content %}
<div id="directory">
	<div>
		<a class="uk-float-left" href="1">< Previous</a>
		<a class="uk-float-right" href="3">Next ></a>
	</div>
</div>
<div id="title">The Nanny</div>
<div style="text-align:center;">
	Slow and plump<br>
	she moves through the kitchen,<br>
	cooking dishes I don’t like<br>
	with a hum in her throat.<br>
	Spinach, ginger, egg yolks<br>
	and chicken,<br>
	which is in the bathroom,<br>
	still clucking.<br>
	The pot boils and<br>
	the nanny hurries<br>
	she grabs the beast by its neck—<br>
	coos at it while it struggles.<br>
	Stretched nicely across the counter<br>
	she brings down the knife<br>
	and the chicken shivers.<br>
	<br><br>
	She sees me—I’ve been watching,<br>
	and those eyes, again<br>
	look for her children.<br>
	You’re picky, she says,<br>
	and ungrateful.<br>
	Won’t eat this or that,<br>
	my brats eat everything<br>
	she laughs,<br>
	they’re grateful.<br>
	 <br><br>
	The chicken bleeds<br>
	and she washes it.<br>
	With her uneven nails,<br>
	she pinches its feathers<br>
	and plucks them out.<br>
	​When it is bare<br>
	she puts it into the pot<br>
	and gives me the leftover head<br>
	Play with that, the nanny says,<br>
	and pushes me out of her kitchen,<br>
	with the door closed behind me.<br>
	Again, she hums.
</div>
{% endblock %}