---
layout: index
---

a.nav.active(href="/") Work &darr;
a.nav(href="/info") Info &darr;

h2 Projects
p Coming soon

h2 Writing
| {% for post in site.categories["writing"] %}
a.article(href="{{ post.url }}")
  .article_title {{ post.title }}
  .article_year {{ post.date | date: "%Y" }}
| {% endfor %}
