---
layout: index
---

h1
	| Lily is a Product Designer based in San Francisco. Currently,
	|
	a(href="https://angel.co", target="_blank") AngelList
	| . Previously,
	|
	a(href="https://ibm.com", target="_blank") IBM
	| .

a.nav.active(href="/") Work &darr;
a.nav(href="/info") Info &darr;

h2 Projects
p Coming soon

h2 Writing
p Coming soon