---
layout: index
---

| {% include projects.html %}

h2 Writing
| {% for post in site.categories["writing"] %}
.article
  a(href="{{ post.url }}")
    .article_title {{ post.title }}
    .article_year {{ post.date | date: "%Y" }}
| {% endfor %}
