---
layout: info
---

.g--grid
  .g--grid_row
    .g--grid_col-md-6
      h2 Experience
      .block
        p AngelList
        p Product Designer
        p 2018 - Present
      .block
        p IBM Watson Health
        p Product Designer
        p 2016 - 2018
      .block
        p About 7-ish Startups
        p Freelance
        p 2013 - 2015

      h2 Academic
      .block
        p Cornell University
        p Computer Science
        p Class of 2016
    .g--grid_col-md-6
      h2 Open Source
      .block
        p
          a(href="https://github.com/lllychen/jekyll-firewall", target="_blank") Jekyll Firewall
        p
          a(href="https://github.com/lllychen/fry", target="_blank") Fry
        p
          a(href="https://github.com/lllychen/louie", target="_blank") Louie
        p
          a(href="https://github.com/lllychen/wikireader", target="_blank") WikiReader

      h2 Contact
      .block
        p
          a(href="https://www.linkedin.com/in/lllychen/", target="_blank") LinkedIn
        p
          a(href="https://www.instagram.com/lily.somewhere/", target="_blank") Instagram
        p
          a(href="https://twitter.com/lllychen", target="_blank") Twitter