{% extends "base.html" %}
{% block title %}Lillian Chen | about{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/base2.css">
{% endblock %}

{% block content %}
<div id="container" class="uk-width-1-1 uk-width-medium-8-10 uk-width-large-7-10 uk-container-center uk-text-center">
	<div class="smallcaps category">Short Stories &#38; Essays</div>
	<a href="/writing/1">Humble Beginnings</a><br>
	<a href="/writing/3">A Bedroom of One's Own</a>
	<div class="smallcaps category">Poems</div>
	<a href="/writing/2">The Nanny</a><br>
	<a href="/writing/4">Foreigner in China</a>
</div>
{% endblock %}