{% extends "base.html" %}
{% block title %}Lillian Chen | about{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/work-detail.css">
{% endblock %}

{% block script %}
<script type = "text/javascript">
  function ImageOne() {
  	$('#img1').addClass("underline");
  	$('#img2').removeClass("underline");
  	$('#poster1').removeClass("uk-hidden");
  	$('#poster2').addClass("uk-hidden");
  }
  function ImageTwo() {
  	$('#img1').removeClass("underline");
  	$('#img2').addClass("underline");
  	$('#poster1').addClass("uk-hidden");
  	$('#poster2').removeClass("uk-hidden");
  }
</script>
{% endblock %}

{% block content %}
<div class="no-overflow">
	<div class="uk-width-1-2 uk-float-left uk-text-center uk-hidden-small">
		<img id="poster1" src="/static/img/cbr/poster1.png">
		<img id="poster2" class="uk-hidden" src="/static/img/cbr/poster2.png">
	</div>
	<div id="container" class="uk-width-9-10 uk-width-medium-8-10 uk-width-large-7-10 uk-container-center">
		<div id="container2" class="uk-width-8-10 uk-width-medium-1-2 uk-width-large-1-2 uk-float-right uk-container-center">
			<div id="content" class="uk-text-justify">
				<img id="cbr-logo" src="/static/img/cbr/logo.png"><br>
				Recruitment Posters<br><br><br><br>
				<div id="header">Background</div>
				<a href="https://www.facebook.com/CornellBusinessReview">The Cornell Business Review</a> is a magazine organization that strives to encourage the education and discussion of business trends and issues among the Cornell student body by publishing a business review and hosting related events.<br><br>
				<div id="header">Recruitment Project</div>
				In a bigger than ever effort to recruit talented freshmen for our magazine, I redesigned CBR's old cramped, clipart feeling posters into attention-grabbing, clean-edged headlines.<br><br><br>
				Posters: <a id="img1" class="underline" onclick="ImageOne(this)">One</a>  <a id="img2" onclick="ImageTwo(this)">Two</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}