.index {
  padding: 5rem 0;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding: 10rem 0;
  }

  h1 {
    margin: 0 0 5rem;
    line-height: 1.4;
    font-size: 3.6rem;
    font-weight: 400;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin: 0 0 10rem;
    }
  }

  h2 {
    margin: 5rem 0 2rem;
    line-height: 1.4;
    font-size: 2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    line-height: 1.5;
    font-size: 2.4rem;
  }

  a {
    position: relative;
    display: inline-block;
    color: inherit;
    
    &[target="_blank"] {
      padding-right: 3rem;

      &:after {
        content: '\2197';
        display: inline-block;
        position: absolute;
        margin-left: 0.1em;
        color: $v--color-black;
      }

      &:hover:after {
        color: $v--color-yellow;
      }
    }
  }
  
  .nav {
    margin-right: 3rem;
    opacity: 0.3;
    text-decoration: none;;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  .article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
  }

  .article_title {
    display: inline;
    line-height: 1.5;
    font-size: 2.4rem;
    text-decoration: underline;
  }

  .article_year {
    display: inline;
    margin-left: 0.2rem;
    font-size: 1.2rem;
  }
}