.m--bloglist
  h2 Writing
  | {% for post in site.categories["blog"] %}
  .m--bloglist_item
    a.m--bloglist_title(href="{{ post.url }}") {{ post.title }}
    .m--bloglist_dots
    .m--bloglist_year {{ post.date | date: "%b %Y" }}
  | {% endfor %}