<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navbar">
  <div class="container--large">
    <a href="/">
      <span class="navbar__name">&mdash; Lillian Chen</span>
      <span class="navbar__location">IBM Watson Health</span>
      <div class="navbar__menu">
        <a id="works" href="/" alt="Works">Works</a>
        <a id="about" href="{{ site.url }}/about/" alt="About">About</a>
        <a id="blog" href="{{ site.url }}/blog/" alt="Blog">Blog</a>
      </div>
    </a>
  </div>
</div>
