<a class="a--skip-to-content" tabindex="0" role="button">Skip to main content</a>
<header class="m--header" role="banner">
  <div class="m--container">
    <div class="g--grid">
      <div class="g--grid_row">
        <div class="g--grid_col-6">
          <h1>
            <a href="{{ site.url }}/" class="m--header_title" rel="home" title="Home">
            Lillian Chen</a>
          </h1>
        </div>
        <div class="g--grid_col-6">
          <nav role="navigation" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="m--header_menu" role="menu" aria-label="Site main menu">
              <li class="m--header_menu_item">
                <a href="{{ site.url }}/" class="m--header_menu_anchor g--anchor-strike" title="Works" itemprop="url">Works</a>
              </li>
              <li class="m--header_menu_item">
                <a href="{{ site.url }}/blog" class="m--header_menu_anchor g--anchor-strike" title="Blog" itemprop="url">Blog</a>
              </li>
              <li class="m--header_menu_item">
                <a href="{{ site.url }}/about" class="m--header_menu_anchor g--anchor-strike" title="About" itemprop="url">About</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>