<header class="m--header" role="banner">
  <div class="g--grid-fixed">
    <div class="g--grid_row">
      <div class="g--grid_col-4 g--grid_col-lg-3">
        <a href="#main" class="a--skipToContent" tabindex="0" role="button">Skip to main content</a>
        <h1>
          <a href="{{ site.url }}/" class="m--header_title" rel="home" title="Home">
          Lillian Chen</a>
        </h1>
      </div>
      <div class="g--grid_col-0 g--grid_col-lg-6">
        {% if page.categories[0] == "work" %}
          <div class="m--header_pageTitle js--pageTitlePastFold">
            {{ page.title }}
          </div>
        {% endif %}
      </div>
      <div class="g--grid_col-8 g--grid_col-lg-3">
        <nav role="navigation" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <ul class="m--header_menu" role="menu" aria-label="Site main menu">
            <li class="m--header_menu_item">
              <a href="{{ site.url }}/" class="m--header_menu_anchor{% if page.url == '/' %} active{% endif %}" title="Works" itemprop="url">Works</a>
            </li>
            <li class="m--header_menu_item">
              <a href="{{ site.url }}/blog" class="m--header_menu_anchor{% if page.url == '/blog/' %} active{% endif %}" title="Blog" itemprop="url">Blog</a>
            </li>
            <li class="m--header_menu_item">
              <a href="{{ site.url }}/about" class="m--header_menu_anchor{% if page.url == '/about/' %} active{% endif %}" title="About" itemprop="url">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>