<form id="staticrypt-form" action="#" method="post">
  <input id="staticrypt-password"
         type="password"
         name="password"
         placeholder="passphrase"
         autofocus/>

  <input type="submit" class="staticrypt-decrypt-button" value="DECRYPT"/>
</form>

<script>
  document.getElementById('staticrypt-form').addEventListener('submit', function(e) {
    e.preventDefault();

    var passphrase = document.getElementById('staticrypt-password').value,
        encryptedMsg = '9880e890b7494a613d23409dd1742f0048b8823e9b70a942bfd5102dc10d4bb5U2FsdGVkX18vpj4+ZRTbmmqKav3AVpqE7qPQzfCDMAw=',
        encryptedHMAC = encryptedMsg.substring(0, 64),
        encryptedHTML = encryptedMsg.substring(64),
        decryptedHMAC = CryptoJS.HmacSHA256(encryptedHTML, CryptoJS.SHA256(passphrase).toString()).toString();

    if (decryptedHMAC !== encryptedHMAC) {
      alert('Bad passphrase!');
      return;
    }

    var plainHTML = CryptoJS.AES.decrypt(encryptedHTML, passphrase).toString(CryptoJS.enc.Utf8);

    document.write(plainHTML);
    document.close();
  });
</script>
