h1
  | Lily is a Product Designer based in San Francisco. Currently,
  |
  a(href="https://angel.co", target="_blank") AngelList
  | . Previously,
  |
  a(href="https://ibm.com", target="_blank") IBM
  | .

a.nav(href="/", class="{% if page.name == 'index.html' %}active{% endif %}") Work &darr;
a.nav(href="/info", class="{% if page.name == 'info.html' %}active{% endif %}") Info &darr;