{% for post in site.categories[include.category] %}
  {% if post.url == page.url %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}

{% for post in site.categories[include.category] %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post %}
  {% endif %}
{% endfor %}

{% if prev_post or next_post %}
  <div class="g--grid_row">
    <div class="m--paginate">
      <div class="g--grid_col-md-6">
        {% if prev_post %}
          <a href="{{ prev_post.url }}" class="m--paginate_prev">
            <span>Previous</span>
            {{ prev_post.title }}
          </a>
        {% endif %}
      </div>

      <div class="g--grid_col-md-6">
        {% if next_post %}
          <a href="{{ next_post.url }}" class="m--paginate_next">
            <span>Next</span>
            {{ next_post.title }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}