//- h2 Projects
.g--grid_row
  | {% for post in site.categories["work"] %}
  .m--worklist(class="g--grid_col-4")
    a.m--worklist_info(href="{{ post.url }}")
      p 0{{ forloop.index }}.
      p {{ post.company }}
      p {{ post.title }}
    a.m--worklist_cover(href="{{ post.url }}")
      .m--worklist_img(style="background-image: url('/assets/img/{{ post.imgfolder }}/{{ post.cover }}')")
  | {% endfor %}