a {
  color: #ea5e2c;
  border-bottom: 1px dotted #444444;
}

a:hover {
  text-decoration: none;
}

div#container {
  padding: 75px 0px 0px;
  text-align: center;
}

div#content {
  font-family: 'Proxima Nova Light';
  font-size: 18px;
  line-height: 26px;
}

div#container div#content div#caption {
  font-size: 25px;
  line-height: 35px;
  font-style: italic;
  text-align: center;
}