@media (max-width: 640px) {
  div#container {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 640px) {
  div#container {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width:960px) {
  div#container {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width:1100px) {
  div#container {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

a {
  border-bottom: 1px dotted #ea5e2c;
}

a:hover {
  text-decoration: none;
}

div#container {
  padding: 5% 0px 0px;
  font-family: 'Proxima Nova Light';
}

div.category {
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Proxima Nova';
}