---

---
@charset "utf-8";

// fonts
@font-face { 
	font-family: "swiss721-medium";
	src: url('../fonts/swiss721-medium.eot');
	src: url('../fonts/swiss721-medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/swiss721-medium.woff') format('woff'),
	     url('../fonts/swiss721-medium.ttf') format('truetype'),
	     url('../fonts/swiss721-medium.svg#webfont') format('svg');
}

@font-face { 
	font-family: "swiss721-heavy";
	src: url('../fonts/swiss721-heavy.eot');
	src: url('../fonts/swiss721-heavy.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/swiss721-heavy.woff') format('woff'),
	     url('../fonts/swiss721-heavy.ttf') format('truetype'),
	     url('../fonts/swiss721-heavy.svg#webfont') format('svg');
}

$swiss-med: "swiss721-medium";
$swiss-heavy: "swiss721-heavy";
$vollkorn: "Vollkorn";


// variables
$base-font-family: $swiss-med, san-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$white:						 #fff;
$black:						 #000;

$text-color:       $black;
$text-color-light: lighten($text-color, 40%);
$text-color-dark:  darken($text-color, 25%);
$background-color: $white;
$highlight-color:  #fefeca;

// $content-width:    1024px;
$on-small:         480px;
$on-medium:        768px;
$on-large:         960px;


@mixin media-query($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base",
	"layout"
;
