.l--home {
  margin-top: -$v--main-marginTop;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-top: -$v--main-marginTop-md;
  }

  h2 {
    margin-top: 3rem;
    font-size: 1.2rem;
    // color: $v--color-gray5;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin-top: 4rem;
      font-size: 1.5rem;
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.4rem;
    // color: $v--color-gray5;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: map-get($v--grid-breakpoints, sm)) {
      font-size: 1.6rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      font-size: 1.8rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, lg)) {
      line-height: 1.6;
      font-size: 2rem;
    }
  }
}

.l--home_fold {
  position: relative;
  height: 90vh;
  min-height: 300px;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    height: 100vh;
  }
}

.l--home_fold-bottom {
  position: absolute;
  bottom: 0;
  background-color: white;
}

.l--home_bio {
  @include u--animation-fade(500ms);
  padding-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.6rem;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding-bottom: 1.6rem;
    line-height: 1.4;
    font-size: 2.2rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, lg)) {
    line-height: 1.6;
    font-size: 2.8rem;
  }
}

.l--home_bio_name {
  color: $v--color-blue;
}

.l--home_bio_arrow {
  position: relative;
  @include u--animation-fadeInUp(500ms);
  font-family: $v--font-mono;
  font-size: 1.2rem;
  font-weight: normal;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    font-size: 1.4rem;
  }

  &:after {
    content: '\2193';
    position: absolute;
    // margin-top: -0.2rem;
    margin-left: 0.4rem;
    font-family: $v--font-sans-serif;
  }
}

@media (min-width: map-get($v--grid-breakpoints, md)) {
  .l--home_portrait {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/me.png') no-repeat center center fixed;
    background-size: 15%;
  }
}
