.l--home {
  margin-top: -$v--main-marginTop;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-top: -$v--main-marginTop-md;
  }

  h2 {
    margin-top: 3rem;
    font-size: 1.2rem;
    // color: $v--color-gray5;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin-top: 4rem;
      font-size: 1.5rem;
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.4rem;
    // color: $v--color-gray5;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: map-get($v--grid-breakpoints, sm)) {
      font-size: 1.6rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      font-size: 1.8rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, lg)) {
      line-height: 1.6;
      font-size: 2rem;
    }
  }
}

.l--home_bio {
  position: relative;
  height: 50vh;
  min-height: 300px;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    height: 100vh;
  }
}

.l--home_bio-bottom {
  position: absolute;
  bottom: 0;
}

.l--home_bio_arrow {
  position: relative;

  &:after {
    content: '\2193';
    position: absolute;
    margin-top: -0.2rem;
    margin-left: 0.4rem;
  }
}

@media (min-width: map-get($v--grid-breakpoints, md)) {
  .l--home_portrait {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/me.jpg') no-repeat center center fixed;
    background-size: 15%;
  }
}
