.l--post {
  
}

.l--post_bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.l--post_bg_overlay {
  display: block !important;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $v--color-beige;
  opacity: 90%;
}

.l--post_close {
  position: fixed !important;
  top: 2rem;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  text-decoration: none;
  color: $v--color-black;
  
  &:hover,
  .l--post_bg_overlay:hover + & {
    color: $v--color-yellow;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    top: 50%;
    left: auto;
    right: 80%;
    transform: rotate(-90deg);
  }
}

.l--post_content {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $v--color-black;
  padding: 5rem 0;
  background-color: $v--color-white;
  color: $v--color-black;
  overflow: scroll;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    top: 0;
    left: auto;
    width: 80%;
    border-top: none;
    border-left: 2px solid $v--color-black;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding: 10rem 0;
  }

  h1, h2, h3, p,
  pre, ul, ol {
    display: block;
    margin-left: 4rem;
    margin-right: 4rem;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin-left: 15rem;
      margin-right: 15rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, xl)) {
      margin-left: 20rem;
      margin-right: 20rem;
    }
  }

  figure, figcaption {
    margin-left: 1rem;
    margin-right: 1rem;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 5rem;
    line-height: 1.2;
    font-size: 3.6rem;
    font-weight: 400;
  }

  h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    font-size: 2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    // text-transform: uppercase;
  }
  
  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.8125;
    font-size: 1.6rem;
    color: $v--color-gray2;

    @media (min-width: map-get($v--grid-breakpoints, xl)) {
      line-height: 1.8333;
      font-size: 1.5rem;
    }

    &:first-of-type {
      line-height: 1.762;
      font-size: 1.75rem;
      color: $v--color-black;
    }
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $v--color-yellow;
    }
  }

  figure {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  // figure.m--content_figure {
  //   position: absolute;
  //   width: 250px;
  //   // margin: auto;

  //   &.m--content_figure-right {
  //     left: 100%;
  //     padding-left: 6%;
  //     text-align: left;
  //   }

  //   &.m--content_figure-left {
  //     right: 100%;
  //     padding-right: 6%;
  //     text-align: right;
  //   }

  //   img {
  //     max-height: 200px;
  //   }
  // }

  figcaption {
    margin-top: 1rem;
    line-height: 1.4;
    font-size: 1rem;
    text-align: left;

    &:before {
      content: '\2191';
      margin-right: 0.5rem;
      vertical-align: text-bottom;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  video {
    max-width: 90%;
    max-height: 90%;
    margin: 1rem 0 2rem;
    box-shadow: rgba(0,0,0,0.4) 0 20px 50px;
    object-fit: cover;
  }

  pre,
  code {
    background-color: $v--color-beige;
  }

  pre {
    padding: 1rem;
    direction: ltr;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
    overflow-x: scroll;
    text-align: left;
    line-height: 1.5;
    font-size: 1.333rem;

    code {
      padding: 0;
    }
  }

  code {
    display: inline;
    padding: 0 0.2rem;
  }

  ul, ol {
    li {
      margin-bottom: 0.5rem;
      line-height: 1.8125;
      font-size: 1.6rem;
      color: $v--color-gray2;

      @media (min-width: map-get($v--grid-breakpoints, xl)) {
        line-height: 1.8333;
        font-size: 1.5rem;
      }
    }
  }
}