.article {
  margin-top: 100px;
}

.article--border {
  @extend .article;
  border-top: 1px solid $black;
  padding-top: 2rem;
}

.article__title {
  @extend .swiss;
  @extend %bold;
  margin-top: 0;
}

.article__date {
  @extend .times;
  // @extend %italic;
  @extend %small;
}

.article__header--small {
  @extend .swiss;
  @extend %small;
  @extend %bold;
  margin-bottom: 0.5rem;
}

.article__body {
  @extend .times;
  padding-bottom: 100px;
  overflow: hidden;

  p {
    @extend %textface;
    margin: 0 0 1rem 0;
  }

  h2 {
    @extend .article__header--small;
    position: relative;
    margin-bottom: 0;

    // &::before {
    //   content: '—';
    //   position: absolute;
    //   top: 0;
    //   left: -20px;
    // }
  }

  ul, ol {
    margin: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  p + pre {
    margin-top: -10px;
    margin-bottom: 16px;
  }

  img {
    width: 100%;
  }

  img + em {
    display: block;
    margin: 10px 0 30px;
    text-align: center;
    line-height: 13px;
    font-family: $sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: $grey--medium;
  }
}

.article__toc {
  @extend .article__body;
  padding-bottom: 20px;
}

// ugly but fix later
#about .article__body {
  padding-bottom: 0;
}

.article__body--small {
  @extend .article__body;

  p {
    @extend .swiss;
    @extend %small;
  }
}

.article__postscript {
  @extend .times;
  @extend %italic;
  @extend %small;
  margin-top: 3rem;
}

.article__previous,
.article__next {
  width: 50%;
  overflow: hidden;

  a {
    @extend .swiss;
    @extend %small;
    @extend %regular;
    color: $grey--medium;
    text-decoration: none;

    &:hover,
    &:active {
      color: $black;
    }
  }
}

.article__previous {
  float: left;
}

.article__next {
  float: right;
  text-align: right;
}
