.navbar {
  @extend .uk-width-1-1;
  @extend %small;
  position: fixed;
  top: 0;
  padding: 25px 0 50px;
  z-index: 1000;
}

.navbar__name {
  @extend .swiss;
  @extend %bold;
}

.navbar__location {
  @extend .times;
}

.navbar__menu {
  float: right;
  margin: 0;

  a {
    @extend .anchor--strike;
    @extend .times;
    display: inline-block;
    margin-left: 5px;
  }
}
