.project {
  @extend .uk-width-1-1;
  margin-top: 100px;
  overflow: hidden;

  @include media-query($breakpoint-large, min) {
    &::before {
      content: 'js-height';
    }
  }
}

.project__date {
  @extend .times;
  @extend %italic;
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.project__title {
  @extend .swiss;
  @extend %bold;
  border-bottom: 10px solid transparent;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1px;

  @media-query($breakpoint-medium, min) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.project__anchor:hover {
  .project__title {
    border-bottom-color: $black;
  }
}

.project--misc {
  @extend .uk-width-1-1;
  @extend %small;
  display: block;
  border-top: 1px solid $grey--light;
  margin-top: 100px;
  padding: 25px 0;
  list-style: none;
  text-align: left;

  li {
    @extend .uk-width-1-1;
    @extend .uk-width-medium-1-2;
    overflow: hidden;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.project--misc__date,
.project--misc__title,
.project--misc__tags {
  display: inline-block;
  float: left;
}

.project--misc__date {
  @extend .uk-width-1-10;
  @extend .times;
  @extend %italic;
}

.project--misc__title {
  @extend .uk-width-2-5;

  a {
    @extend .swiss;
    @extend %bold;
    border-bottom: 2px solid $black;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.project--misc__tags {
  @extend .uk-width-1-2;
  @extend .times;
}

.project__images {
  position: absolute;
  top: 100px;
  left: 0;
  right: 40%;
  overflow: hidden;

  img {
    @extend .uk-width-1-1;
  }
}

.project__detail {
  position: relative;
  float: right;
  width: 35%;

  > div {
    position: static;
    margin-right: 0;
    padding-bottom: 50px;
  }
}

.detail {
  @extend .grid;

  + .detail {
    margin-top: 0px;
  }
}

.detail__title {
  @extend .uk-width-1-10;
  @extend .swiss;
  @extend %small;
  @extend %bold;
  // line-height: 1.7rem;
  text-align: right;
  text-transform: capitalize;
}

.detail__info {
  @extend .uk-width-9-10;
  @extend .times;
  @extend %textface;
  @extend %small;
  @extend %italic;
}

.detail__body {
  @extend .uk-width-1-1;
  @extend .times;

  p {
    @extend %textface;
    margin: 0 0 1rem 0;
  }

  h2 {
    @extend .swiss;
    @extend %small;
    @extend %bold;
    position: relative;
    margin-bottom: 0;
    margin-left: 20px;

    &::before {
      content: '—';
      position: absolute;
      top: 0;
      left: -20px;
    }
  }

  ul, ol {
    margin: 0;
    padding-left: 15px;
  }
}
