@font-face {
  font-family: 'GT Pressura Mono';
  src: url('#{$g--fonts-url}/GT-Pressura/GT-Pressura-Mono-Regular.eot');
    src: url('#{$g--fonts-url}/GT-Pressura/GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$g--fonts-url}/GT-Pressura/GT-Pressura-Mono-Regular.woff') format('woff'),
       url('#{$g--fonts-url}/GT-Pressura/GT-Pressura-Mono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$g--fonts-url}/Graphik/Graphik-Regular.eot');
  src: url('#{$g--fonts-url}/Graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$g--fonts-url}/Graphik/Graphik-Regular.woff2') format('woff2'),
      url('#{$g--fonts-url}/Graphik/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$g--fonts-url}/Graphik/Graphik-Medium.eot');
  src: url('#{$g--fonts-url}/Graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$g--fonts-url}/Graphik/Graphik-Medium.woff2') format('woff2'),
      url('#{$g--fonts-url}/Graphik/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('#{$g--fonts-url}/Lyon-Display/LyonDisplay-Bold.eot');
  src: url('#{$g--fonts-url}/Lyon-Display/LyonDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$g--fonts-url}/Lyon-Display/LyonDisplay-Bold.woff') format('woff'),
      url('#{$g--fonts-url}/Lyon-Display/LyonDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

