*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  font-size: 10px;

  @media (min-width: map-get($v--grid-breakpoints, xl)) {
    font-size: 12px;
  }
}

body {
  font-family: $v--font-family;
  color: $v--color-black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $v--color-white;
  font-size: 1.8rem;
  color: $v--color-black;
}