*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &:before {
    content: '#{map-get($v--grid-breakpoints, lg)}';
    display: none;
    position: absolute;
    left: -1000px;
    top: -1000px;
  }
}

html {
  height: auto;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-family: $v--site-font-family;
  font-size: 100%;
  color: $v--color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $v--color-yellow;
  // color: $v--site-selection-color;
}

::-moz-selection {
  background: $v--color-yellow;
  // color: $v--site-selection-color;
}

main {
  margin-top: $v--main-marginTop;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-top: $v--main-marginTop-md;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;

  &:focus,
  .no-touchevents &:hover {
    background-color: $v--color-yellow;
    color: $v--color-black;
  }
}

// ul {
//   padding-left: 1rem;
// }
