/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/


a#about {
	color: #999999;
}

div#container a {
	color: #888888;
}

div#container a:hover {
	border-bottom: 1px dotted #EA9C81;
}

div#container div#links {
	padding-right: 2%;
}

div#content {
	font-family: 'Vollkorn';
	font-size: 18px;
	line-height: 26px;
}

div#container div#content a {
	color: #EA9C81;
}

div#container div#content div#caption {
	font-family: 'Vollkorn';
  	color: #aaaaaa;
  	font-size: 22px;
  	line-height: 30px;
  	font-style: italic;
  	text-align: center;
}