@font-face {
  font-family: 'Proxima Nova Light';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Light.otf);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Bold.otf);
}

.no-overflow {
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}

img#logo {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out;
  	-moz-transition: opacity 0.25s ease-in-out;
  	-ms-transition: opacity 0.25s ease-in-out;
  	-o-transition: opacity 0.25s ease-in-out;
  	transition: opacity 0.25s ease-in-out;
}

img#logo:hover {
	opacity: 0.5;
}

ul.uk-subnav {
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	font-size: 13px;
	margin: 50px 0 100px;
}

ul.uk-subnav li {
	margin: 0 20px;
}

ul.uk-subnav a {
	color: #666666;
	letter-spacing: 1px;
}

ul.uk-subnav a:hover {
	color: #999999;
}

div#wrap {
	padding: 15% 0 10%;
}

div#footer {
	height: 200px;
	background: #eeeeee;
}

div#footer {
	color: #888888;
}

div#footer a {
	color: #888888;
	border-bottom: 1px dotted #EA9C81;
}

div#footer a:hover {
	border-bottom: 1px dotted #888888;
}