@font-face{ 
	font-family: 'proximanova-regular';
	src: url('{{ site.url }}/assets/fonts/proximanova-regular-webfont.eot');
	src: url('{{ site.url }}/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('{{ site.url }}/assets/fonts/proximanova-regular-webfont.woff') format('woff'),
	     url('{{ site.url }}/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
	     url('{{ site.url }}/assets/fonts/proximanova-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'proximanova-light';
	src: url('{{ site.url }}/assets/fonts/proximanova-light-webfont.eot');
	src: url('{{ site.url }}/assets/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('{{ site.url }}/assets/fonts/proximanova-light-webfont.woff') format('woff'),
	     url('{{ site.url }}/assets/fonts/proximanova-light-webfont.ttf') format('truetype'),
	     url('{{ site.url }}/assets/fonts/proximanova-light-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'proximanova-semibold';
	src: url('{{ site.url }}/assets/fonts/proximanova-semibold-webfont.eot');
	src: url('{{ site.url }}/assets/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('{{ site.url }}/assets/fonts/proximanova-semibold-webfont.woff') format('woff'),
	     url('{{ site.url }}/assets/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
	     url('{{ site.url }}/assets/fonts/proximanova-semibold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'proximanova-bold';
	src: url('{{ site.url }}/assets/fonts/proximanova-bold-webfont.eot');
	src: url('{{ site.url }}/assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('{{ site.url }}/assets/fonts/proximanova-bold-webfont.woff') format('woff'),
	     url('{{ site.url }}/assets/fonts/proximanova-bold-webfont.ttf') format('truetype'),
	     url('{{ site.url }}/assets/fonts/proximanova-bold-webfont.svg#webfont') format('svg');
}

::selection {
  background: #fefeca; /* Safari */
  color: #444444;
}

::-moz-selection {
  background: #fefeca; /* Firefox */
  color: #444444;
}

.no-overflow {
	overflow: hidden;
}

.margin-bottom {
	margin-bottom: 10%;
}

a {
	-webkit-transition: color 0.1s ease-in-out;
  	-moz-transition: color 0.1s ease-in-out;
  	-ms-transition: color 0.1s ease-in-out;
  	-o-transition: color 0.1s ease-in-out;
  	transition: color 0.1s ease-in-out;
}

a:hover {
	text-decoration: none;
}

img#logo {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out;
  	-moz-transition: opacity 0.25s ease-in-out;
  	-ms-transition: opacity 0.25s ease-in-out;
  	-o-transition: opacity 0.25s ease-in-out;
  	transition: opacity 0.25s ease-in-out;
}

img#logo:hover {
	opacity: 0.5;
}

ul.uk-subnav {
	font-family: 'proximanova-regular';
	text-transform: uppercase;
	font-size: 13px;
	margin: 50px 0 100px;
}

ul.uk-subnav li {
	margin: 0 20px;
}

ul.uk-subnav a {
	color: #999999;
	letter-spacing: 1px;
}

ul.uk-subnav a:hover {
	color: #666666;
}

div#wrap {
	padding: 15% 0 0;
}

div#footer {
	height: 200px;
	background: #eeeeee;
}

div#footer div#contact {
	color: #888888;
}

div#footer a {
	color: #888888;
	border-bottom: 1px dotted #EA9C81;
}

div#footer a:hover {
	border-bottom: 1px dotted #888888;
}

div#footer img {
	opacity: 0.5;
}