/*! by Lillian Chen | http://www.lillian-chen.com */

::selection {
	background: #fefeca;
	color: #444;
}

::-moz-selection {
  background: #fefeca; /* Firefox */
  color: #444444;
}

.no-overflow {
	overflow: none;
}

@font-face { 
	font-family: 'swiss721-medium';
	src: url('../fonts/Swiss721BT-Medium.eot');
	src: url('../fonts/Swiss721BT-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Swiss721BT-Medium.woff') format('woff'),
	     url('../fonts/Swiss721BT-Medium.ttf') format('truetype'),
	     url('../fonts/Swiss721BT-Medium.svg#webfont') format('svg');
}

@font-face { 
	font-family: 'swiss721-heavy';
	src: url('../fonts/Swiss721BT-Heavy.eot');
	src: url('../fonts/Swiss721BT-Heavy.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Swiss721BT-Heavy.woff') format('woff'),
	     url('../fonts/Swiss721BT-Heavy.ttf') format('truetype'),
	     url('../fonts/Swiss721BT-Heavy.svg#webfont') format('svg');
}

@font-med: 'swiss721-medium';
@font-heavy: 'swiss721-heavy';

a {
	color: #111;

	&:hover {
		color: #111;
		text-decoration: none;
	}
}

a.crossout {
	position: relative;
}

a.crossout::after {
	content: '';
	border-bottom: 5px solid #333;
	position: absolute;
	top: 35%;
	width: 0;
	right: 100%;
	-webkit-transition: right .3s ease-in-out,width .3s ease-in-out;
	-moz-transition: right .3s ease-in-out,width .3s ease-in-out;
	-o-transition: right .3s ease-in-out,width .3s ease-in-out;
	transition: right .3s ease-in-out,width .3s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(0.19,1,.22,1);
	-moz-transition-timing-function: cubic-bezier(0.19,1,.22,1);
	-o-transition-timing-function: cubic-bezier(0.19,1,.22,1);
	transition-timing-function: cubic-bezier(0.19,1,.22,1);
}

a.crossout:hover::after {
	right: 0;
	width: 100%;
}

.hidden {
	display: none;
}

.smallcaps {
	font-family: @font-med;
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

html,
body {
	width: 100%;
	padding-bottom: 100px;
	background: #fff;
	font-family: @font-med;
	font-size: 14px;
	color: #111;

	.lc-back-top {
		position: fixed;
		right: 5%;
		bottom: 10%;
	}

	.lc-nav {
		position: fixed;
		top: 10px;
		height: 150px;
		background: #fff;
		right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #111;
    transition: height 500ms;
    z-index: 9999;

		.lc-nav-content {
			img {
				height: 55px;
			}

			a {
				line-height: 60px;
			}

			a.lc-nav-link {
				position: relative;
				margin-left: 7px;
			}

			a.lc-nav-link::after {
				content: '';
				border-bottom: 7px solid;
				border-color: #333;
				position: absolute;
				top: 15%;
				right: 100%;
				width: 0;
				-webkit-transition: right .3s ease-in-out,width .3s ease-in-out;
				-moz-transition: right .3s ease-in-out,width .3s ease-in-out;
				-o-transition: right .3s ease-in-out,width .3s ease-in-out;
				transition: right .3s ease-in-out,width .3s ease-in-out;
				-webkit-transition-timing-function: cubic-bezier(0.19,1,.22,1);
				-moz-transition-timing-function: cubic-bezier(0.19,1,.22,1);
				-o-transition-timing-function: cubic-bezier(0.19,1,.22,1);
				transition-timing-function: cubic-bezier(0.19,1,.22,1);
			}

			a.lc-nav-link:hover::after {
				width: 100%;
				right: 0;
			}
		}
	}

	.lc-tiny-nav {
		height: 60px;

		.lc-nav-content {
			img {
				display: none;
				// height: 30px;
				// margin-top: 13px;
			}
		}
	}

	.lc-footer {
		margin-top: 50px;
		height: 100px;
	}

	.lc-border {
	  background: #111;
	  position: fixed;
	}

	.lc-border-left, .lc-border-right {
	  top: 0; bottom: 0;
	  width: 10px;
	}

	.lc-border-left {
	  left: 0;
	}

	.lc-border-right {
	  right: 0;
	}
	    
	.lc-border-top, .lc-border-bottom {
	  left: 0;
	  right: 0;
	  height: 10px;
	}

	.lc-border-top {
	  top: 0;
	}

	.lc-border-bottom {
	  bottom: 0;
	}
}

@media (max-width: 767px) {
	body {
		padding-bottom: 25px;
	}

	body .lc-nav {
		height: 75px;
	}

	body .lc-nav .lc-nav-content img {
		height: 30px;
	}

	body .lc-nav .lc-nav-content a {
		line-height: 35px;
	}
}

