/*! by Lillian Chen | http://www.lillian-chen.com */
::selection {
  background: #fefeca;
  color: #444;
}
::-moz-selection {
  background: #fefeca;
  /* Firefox */
  color: #444444;
}
@font-face {
  font-family: 'swiss721-medium';
  src: url('../fonts/Swiss721BT-Medium.eot');
  src: url('../fonts/Swiss721BT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Swiss721BT-Medium.woff') format('woff'), url('../fonts/Swiss721BT-Medium.ttf') format('truetype'), url('../fonts/Swiss721BT-Medium.svg#webfont') format('svg');
}
@font-face {
  font-family: 'swiss721-heavy';
  src: url('../fonts/Swiss721BT-Heavy.eot');
  src: url('../fonts/Swiss721BT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Swiss721BT-Heavy.woff') format('woff'), url('../fonts/Swiss721BT-Heavy.ttf') format('truetype'), url('../fonts/Swiss721BT-Heavy.svg#webfont') format('svg');
}
a {
  color: #111;
}
a:hover {
  color: #111;
  text-decoration: none;
}
.hidden {
  display: none;
}
.smallcaps {
  font-family: 'swiss721-medium';
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
html,
body {
  width: 100%;
  padding-bottom: 100px;
  background: #fff;
  font-family: 'swiss721-medium';
  font-size: 14px;
  color: #111;
}
html .construction,
body .construction {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10000;
}
html .construction div,
body .construction div {
  font-size: 20px;
}
html .lc-nav,
body .lc-nav {
  position: fixed;
  top: 10px;
  height: 150px;
  background: #fff;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #111;
  transition: height 500ms;
  z-index: 9999;
}
html .lc-nav .lc-nav-content img,
body .lc-nav .lc-nav-content img {
  height: 55px;
}
html .lc-nav .lc-nav-content a,
body .lc-nav .lc-nav-content a {
  line-height: 60px;
}
html .lc-nav .lc-nav-content a.lc-nav-link,
body .lc-nav .lc-nav-content a.lc-nav-link {
  margin-left: 10px;
  padding-bottom: 3px;
}
html .lc-nav .lc-nav-content a.lc-nav-link:hover,
body .lc-nav .lc-nav-content a.lc-nav-link:hover {
  border-bottom: 2px solid #111;
}
html .lc-tiny-nav,
body .lc-tiny-nav {
  height: 60px;
}
html .lc-tiny-nav .lc-nav-content img,
body .lc-tiny-nav .lc-nav-content img {
  display: none;
}
html .lc-footer,
body .lc-footer {
  margin-top: 50px;
  height: 100px;
}
html .lc-border,
body .lc-border {
  background: #111;
  position: fixed;
}
html .lc-border-left,
body .lc-border-left,
html .lc-border-right,
body .lc-border-right {
  top: 0;
  bottom: 0;
  width: 10px;
}
html .lc-border-left,
body .lc-border-left {
  left: 0;
}
html .lc-border-right,
body .lc-border-right {
  right: 0;
}
html .lc-border-top,
body .lc-border-top,
html .lc-border-bottom,
body .lc-border-bottom {
  left: 0;
  right: 0;
  height: 10px;
}
html .lc-border-top,
body .lc-border-top {
  top: 0;
}
html .lc-border-bottom,
body .lc-border-bottom {
  bottom: 0;
}
