/*! by Lillian Chen | http://www.lillian-chen.com */

::selection {
	background: #fefeca;
	color: #444;
}

::-moz-selection {
  background: #fefeca; /* Firefox */
  color: #444444;
}

@font-face{ 
	font-family: 'swiss721-medium';
	src: url('../fonts/Swiss721BT-Medium.eot');
	src: url('../fonts/Swiss721BT-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Swiss721BT-Medium.woff') format('woff'),
	     url('../fonts/Swiss721BT-Medium.ttf') format('truetype'),
	     url('../fonts/Swiss721BT-Medium.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'swiss721-heavy';
	src: url('../fonts/Swiss721BT-Heavy.eot');
	src: url('../fonts/Swiss721BT-Heavy.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Swiss721BT-Heavy.woff') format('woff'),
	     url('../fonts/Swiss721BT-Heavy.ttf') format('truetype'),
	     url('../fonts/Swiss721BT-Heavy.svg#webfont') format('svg');
}

@font-med: 'swiss721-medium';
@font-heavy: 'swiss721-heavy';

a {
	color: #111;

	&:hover {
		color: #111;
		text-decoration: none;
	}
}

html,
body {
	width: 100%;
	height: 100%;
	background: #fff;
	font-family: @font-med;
	font-size: 14px;
	color: #111;
	height: 2000px;

	.wrap {

		.lc-nav {
			height: 150px;

			.lc-nav-content {
				img {
					width: 150px;
				}

				a {
					line-height: 42px;
					margin-left: 10px;
					padding-bottom: 3px;
					-webkit-transition: border-bottom 0.15s; /* For Safari 3.1 to 6.0 */
					transition: border-bottom 0.15s;

					&:hover {
						border-bottom: 2px solid #111;
					}
				}
			}
		}

		.lc-gallery {
			.uk-grid {

			}
		}
	}

	.lc-border {
	  background: #111;
	  position: fixed;
	}

	.lc-border-left, .lc-border-right {
	  top: 0; bottom: 0;
	  width: 15px;
	}

	.lc-border-left {
	  left: 0;
	}

	.lc-border-right {
	  right: 0;
	}
	    
	.lc-border-top, .lc-border-bottom {
	  left: 0;
	  right: 0;
	  height: 15px;
	}

	.lc-border-top {
	  top: 0;
	}

	.lc-border-bottom {
	  bottom: 0;
	}
}




