h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "swiss721-heavy", sans-serif;
}

em {
  color: red;
}

p {
  font-family: "swiss721-medium", sans-serif;
}

ul {
  list-style-type: disc;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #444;
  border-bottom: 1px solid #444;
}

a:hover {
  color: #444;
  text-decoration: none;
}

.deck-container {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: #444;
  background: #FFFFFF;
}

.deck-slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.deck-container > .deck-slide {
  padding: 0 48px;
}

.deck-slide .deck-before,
.deck-slide .deck-previous {
  opacity: 0.4;
}

.deck-slide .deck-before:not(.deck-child-current) .deck-before,
.deck-slide .deck-before:not(.deck-child-current) .deck-previous,
.deck-slide .deck-previous:not(.deck-child-current) .deck-before,
.deck-slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}

.deck-slide .deck-child-current {
  opacity: 1;
}

/* SPECIFIC SLIDE STATES */
.on-slide-5 .manifest-1,
.on-slide-6 .manifest-2,
.on-slide-7 .manifest-3,
.on-slide-8 .manifest-4,
.on-slide-9 .manifest-5,
.on-slide-10 .manifest-6,
.on-slide-11 .manifest-7,
.on-slide-12 .manifest-8,
.on-slide-13 .manifest-9,
.on-slide-14 .manifest-10,
.on-slide-15 .manifest-11,
.on-slide-16 .manifest-12,
.on-slide-17 .manifest-13,
.on-slide-18 .manifest-14,
.on-slide-20 .browser-1,
.on-slide-21 .browser-2 {
  color: red;
  font-weight: bold;
}

.manifest-scripts,
.on-slide-13 .manifest-basic,
.on-slide-14 .manifest-basic,
.on-slide-15 .manifest-basic,
.on-slide-16 .manifest-basic,
.on-slide-17 .manifest-basic,
.on-slide-18 .manifest-basic,
.on-slide-15 .manifest-10,
.manifest-11 {
  display: none;
}


.on-slide-13 .manifest-scripts,
.on-slide-14 .manifest-scripts,
.on-slide-15 .manifest-scripts,
.on-slide-16 .manifest-scripts,
.on-slide-17 .manifest-scripts,
.on-slide-18 .manifest-scripts {
  display: block;
}

.on-slide-15 .manifest-11 {
  display: inline;
}

