/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

.comingsoon {
	opacity: 0.2;
}

img#logo:hover {
	opacity: 0.5;
}

/*****************************************************************************/
/*
/* Writing
/*
/*****************************************************************************/

div#writing {
  font-family: 'Vollkorn';
  font-size: 18px;
  line-height: 22px;
}

div#writing a {
	color: #444444;
}

div#writing a:hover {
	color: #999999;
}

div.category {
  margin-top: 20px;
  font-family: 'Proxima Nova';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

div#about a {
	color: #888888;
}

div#about a:hover {
	border-bottom: 1px dotted #EA9C81;
}

div#about div#links {
	padding-right: 2%;
}

div#about div#content {
	font-family: 'Vollkorn';
	font-size: 18px;
	line-height: 26px;
}

div#about div#content a {
	color: #EA9C81;
}

div#about div#content div#caption {
	font-family: 'Vollkorn';
  	color: #aaaaaa;
  	font-size: 22px;
  	line-height: 30px;
  	font-style: italic;
  	text-align: center;
}