/*! by Lillian Chen | http://www.lillian-chen.com */

/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

/*.faded {
	opacity: 0.75;
	-webkit-transition: opacity 0.25s ease-in-out;
  	-moz-transition: opacity 0.25s ease-in-out;
  	-ms-transition: opacity 0.25s ease-in-out;
  	-o-transition: opacity 0.25s ease-in-out;
  	transition: opacity 0.25s ease-in-out;
}

.faded:hover {
	opacity: 1;
}*/

/*****************************************************************************/
/*
/* Writing
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/


