/*! by Lillian Chen | http://www.lillian-chen.com */

/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

.works {
	.lc-gallery {
		padding-top: 160px;

		.lc-photo {
			-webkit-background-size: cover !important;
		  -moz-background-size: cover !important;
		  -o-background-size: cover !important;
		  background-size: cover !important;

		  &:hover {
		  	background: #fff !important;
		  }

		  .lc-overlay {
		  	visibility: hidden;
		  	color: #111;

		  	.title {
		  		font-size: 22px;
		  		line-height: 30px;
		  		font-style: italic;
		  		font-weight: normal;
		  	}

		  	.tags {
		  		font-size: 10px;
		  		text-transform: uppercase;
		  		letter-spacing: 1px;
		  	}
		  }

		  &:hover .lc-overlay {
		  	visibility: visible;
		  }
		}

		.tall {
			height: 600px;
		}

		.short {
			height: 300px;
		}
	}
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about {
	
}
