/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.comingsoon {
	opacity: 0.2;
}

a#works {
	color: #999999;
}

div#wrap {
	padding: 15% 0 10%;
}

div#wrap img#logo:hover {
	opacity: 0.5;
}