/*! by Lillian Chen | http://www.lillian-chen.com */

@font-med: 'swiss721-medium';
@font-heavy: 'swiss721-heavy';

/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

.works {
	.lc-gallery {
		padding-top: 160px;

		.lc-photo {
			height: 375px;
			-webkit-background-size: cover !important;
		  -moz-background-size: cover !important;
		  -o-background-size: cover !important;
		  background-size: cover !important;
		}

		.lc-photo-caption {
			padding: 15px 0 25px;

	  	.title {
	  		font-family: "Vollkorn";
	  		font-size: 18px;
	  		font-style: italic;
	  		font-weight: normal;
	  	}

	  	.tags {
	  		font-size: 10px;
	  		text-transform: uppercase;
	  		letter-spacing: 1px;
	  	}
	  }
	}
}

@media (min-width : 1224px) {
	.lc-photo:hover {
		opacity: 0.75;
	}
}

@media (max-width: 767px) {
	.works .lc-gallery {
		padding-top: 100px;
	}
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about {
	padding-top: 150px;
	font-family: "Vollkorn";

	a {
		text-decoration: none;
	  background-image: linear-gradient(to top,
	    rgba(0,0,0,0) 11%,
	    rgba(0,0,0,.3) 11%,
	    rgba(0,0,0,.3) 16%,
	    rgba(0,0,0,0) 16%
    );

    &:hover {
    	background-image: linear-gradient(to top,
		    rgba(0,0,0,0) 11%,
		    rgba(0,0,0,1) 11%,
		    rgba(0,0,0,1) 16%,
		    rgba(0,0,0,0) 16%
	    );
    }
	}

	.lc-info {
		border-right: 2px solid #111;

		.body {
			margin-top: 75px;
			padding-right: 50px;
			font-size: 20px;
			line-height: 24px;
			font-style: italic;
		}
	}

	.lc-contact {
		margin-top: 80px;
	}
}

@media (max-width: 767px) {
	.about {
		padding-top: 50px;
	}

	.about .lc-info {
		border: none;
	}

	.about .lc-info .body {
		padding-right: 0;
		font-size: 16px;
		line-height: 22px;
	}
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/

.blog {
	padding-top: 160px;

	.blog-entry {
		border-bottom: 1px dotted #000;
		padding: 30px 0;

		.title {
			font-family: "Vollkorn";
			margin-top: 5px;
			font-size: 25px;
			font-style: italic;

			a.crossout::after {
				top: 30%;
				border-bottom: 10px solid #333;
			}
		}

		.date {
			font-size: 12px;
		}
	}
}

@media (max-width: 767px) {
	.blog {
		padding-top: 100px;
	}

	.blog .blog-entry {
		padding: 15px 0;
	}

	.blog .blog-entry .title {
		font-size: 18px;
	}
}

.post {
	padding-top: 180px;

	.uk-icon-long-arrow-left {
		margin-bottom: 50px;
		color: #888;

		&:hover {
			color: #000;
		}
	}

	.date {
		font-size: 12px;
	}

	.title {
		margin-top: 5px;
		margin-bottom: 25px;
		font-family: "Vollkorn";
		font-size: 25px;
		font-style: italic;
	}

	.wrapper {
		overflow: hidden;
		font-family: "Vollkorn";
		font-size: 17px;
		line-height: 22px;

		.body {
			position: relative;
			float: left;
			margin-left: 7%;
			width: 93%;

			.header {
				// margin: 0 15px 10px -100px;
				// float: left;
				font-family: @font-heavy;
				font-size: 12px;
				text-transform: uppercase;
			}

			img {
				margin-top: 25px;
				margin-bottom: 25px;
			}

			.img-aside-left {
				margin: 20px 25px 20px -7%;
				float: left;
			}

			.img-aside-right {
				margin: 20px 25px 20px 0;
				float: right;
			}

			a {
				text-decoration: none;
			  background-image: linear-gradient(to top,
			    rgba(0,0,0,0) 11%,
			    rgba(0,0,0,.3) 11%,
			    rgba(0,0,0,.3) 16%,
			    rgba(0,0,0,0) 16%
		    );

		    &:hover {
		    	background-image: linear-gradient(to top,
				    rgba(0,0,0,0) 11%,
				    rgba(0,0,0,1) 11%,
				    rgba(0,0,0,1) 16%,
				    rgba(0,0,0,0) 16%
			    );
		    }
			}

			em {
				color: #111;
			}
		}
	}
}

@media (max-width: 767px) {
	.post {
		padding-top: 100px;
	}

	.post .title {
		font-size: 20px;
		line-height: 24px;
	}

	.post .wrapper .body img {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
