/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

.faded {
	opacity: 0.75;
	-webkit-transition: opacity 0.25s ease-in-out;
  	-moz-transition: opacity 0.25s ease-in-out;
  	-ms-transition: opacity 0.25s ease-in-out;
  	-o-transition: opacity 0.25s ease-in-out;
  	transition: opacity 0.25s ease-in-out;
}

.faded:hover {
	opacity: 1;
}

/*****************************************************************************/
/*
/* Writing
/*
/*****************************************************************************/

div#writing {
  font-family: 'Vollkorn', 'Times New Roman';
  font-size: 18px;
  line-height: 22px;
}

div#writing a {
	color: #444444;
	-webkit-transition: color 0.1s ease-in-out;
  	-moz-transition: color 0.1s ease-in-out;
  	-ms-transition: color 0.1s ease-in-out;
  	-o-transition: color 0.1s ease-in-out;
  	transition: color 0.1s ease-in-out;
}

div#writing a:hover {
	color: #999999;
}

div.category {
  margin-top: 20px;
  font-family: 'proximanova-regular', 'Lato', 'Helvetica Neue', 'Helvetica';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #999999;
}

div#spacer {
  height: 100px;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/


div#about div#links a {
	color: #999999;
}

div#about div#links a:hover {
	color: #666666;
}

div#about div#content {
	font-family: 'Vollkorn';
	font-size: 18px;
	line-height: 26px;
}

div#about div#content a {
	color: #EA9C81;
}

div#about div#content a:hover {
	border-bottom: 1px dotted #EA9C81;
}

div#about div#content div#caption {
	font-family: 'Vollkorn';
  	color: #888888;
  	font-size: 22px;
  	line-height: 30px;
  	font-style: italic;
  	text-align: left;
}