html,
body {
  padding: 0;
  /*****************************************************************************/
  /*
	/* Work Detail
	/*
	/*****************************************************************************/
}
html .work-detail,
body .work-detail {
  margin-bottom: 50px;
  padding-top: 200px;
}
html .work-detail .title,
body .work-detail .title {
  font-family: 'swiss721-heavy';
  font-size: 22px;
  line-height: 24px;
}
html .work-detail .subtitle,
body .work-detail .subtitle {
  font-size: 16px;
  line-height: 24px;
}
html .work-detail p,
body .work-detail p {
  text-align: left;
  font-family: 'Vollkorn';
  font-size: 16px;
}
html .work-detail img,
body .work-detail img {
  margin-top: 30px;
  margin-bottom: 30px;
}
html .work-detail .header,
body .work-detail .header {
  text-align: left;
  font-size: 13px;
  line-height: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
html .work-detail .quote,
body .work-detail .quote {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Vollkorn';
  font-size: 17px;
  line-height: 23px;
  color: #888;
  font-style: italic;
}
html .work-detail .fineprint,
body .work-detail .fineprint {
  font-family: 'Vollkorn';
  font-size: 10px;
  font-style: italic;
}
html .work-detail .uk-button,
body .work-detail .uk-button {
  padding: 5px 20px;
  background: #000;
  font-size: 12px;
  color: #fff;
  font-weight: 900;
}
html .work-detail a,
body .work-detail a {
  text-decoration: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.3) 11%, rgba(0, 0, 0, 0.3) 16%, rgba(0, 0, 0, 0) 16%);
}
html .work-detail a:hover,
body .work-detail a:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, #000000 11%, #000000 16%, rgba(0, 0, 0, 0) 16%);
}
html .work-detail .wallop-slider,
body .work-detail .wallop-slider {
  width: 100%;
}
html .work-detail .wallop-slider img,
body .work-detail .wallop-slider img {
  margin: 0;
}
html .work-detail .wallop-slider__list,
body .work-detail .wallop-slider__list {
  list-style: none;
  position: relative;
  overflow: hidden;
}
html .work-detail .wallop-slider__item,
body .work-detail .wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
html .work-detail .wallop-slider__item img,
body .work-detail .wallop-slider__item img {
  display: block;
  width: 100%;
}
html .work-detail .wallop-slider__item--current,
body .work-detail .wallop-slider__item--current {
  display: block;
  position: static;
}
html .work-detail .wallop-slider__btn-wrapper,
body .work-detail .wallop-slider__btn-wrapper {
  font-family: 'Vollkorn';
}
html .work-detail .wallop-slider__btn,
body .work-detail .wallop-slider__btn {
  outline: none;
  border: none;
  background: none;
  font-family: 'Vollkorn';
  font-style: italic;
  text-decoration: underline;
}
html .work-detail .wallop-slider__btn[disabled=disabled],
body .work-detail .wallop-slider__btn[disabled=disabled] {
  color: #ccc;
  text-decoration: none;
}
@media (max-width: 767px) {
  html .work-detail,
  body .work-detail {
    padding-top: 100px;
    font-size: 14px;
    line-height: 18px;
  }
  html .work-detail .title,
  body .work-detail .title {
    font-size: 18px;
    line-height: 22px;
  }
  html .work-detail .subtitle,
  body .work-detail .subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  html .work-detail .quote,
  body .work-detail .quote {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  html .work-detail img,
  body .work-detail img {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
html .return-link,
body .return-link {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #111;
  font-family: 'Vollkorn';
  font-size: 18px;
  font-style: italic;
  color: #fff;
}
