/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

.comingsoon {
	opacity: 0.2;
}

a#works {
	color: #999999;
}

img#logo:hover {
	opacity: 0.5;
}