@media (max-width: 640px) {
  div#wrap {
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
  div#wrap h1 {
  	font-size: 22px;
	line-height: 27px;
  }
}

@media (min-width: 640px) {
  div#wrap {
    font-size: 1.15rem;
    line-height: 1.35rem;
  }
  div#wrap h1 {
  	font-size: 25px;
	line-height: 30px;
  }
}

@media (min-width:960px) {
  div#wrap {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  div#wrap h1 {
  	font-size: 27px;
	line-height: 35px;
  }
}

@media (min-width:1100px) {
  div#wrap {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
  div#wrap h1 {
  	font-size: 30px;
	line-height: 40px;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Light.otf);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url({{ site.url }}/assets/fonts/ProximaNova-Bold.otf);
}

::selection {
  background: #fefeca; /* Safari */
  color: #444444;
}

::-moz-selection {
  background: #fefeca; /* Firefox */
  color: #444444;
}

em {
	color: #444444;
}

a {
	-webkit-transition: color 0.1s ease-in-out;
  	-moz-transition: color 0.1s ease-in-out;
  	-ms-transition: color 0.1s ease-in-out;
  	-o-transition: color 0.1s ease-in-out;
  	transition: color 0.1s ease-in-out;
}

a:hover {
	text-decoration: none;
}

body {
	background: #eeeeee;
	padding-bottom: 5%;
}

div#wrap {
	padding: 50px 0 75px;
	background: #ffffff;
	font-family: 'Vollkorn';
}

div#wrap h1 {
	font-family: 'Vollkorn';
}

ul.uk-subnav {
	font-family: 'Proxima Nova';
	text-transform: uppercase;
	font-size: 13px;
	margin: 0 0 7%;
}

ul.uk-subnav li {
	margin: 0 20px;
}

ul.uk-subnav a {
	color: #999999;
	letter-spacing: 1px;
}

ul.uk-subnav a:hover {
	color: #666666;
}