---
title: Getting Started with Chrome Extensions
id: crx-tutorial
---

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Building Chrome Extensions</title>

  <meta name="description" content="Brief introduction to building a Chrome extension">
  <meta name="author" content="Lillian Chen">

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/uikit.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/base.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/deck.core.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/deck.theme.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/deck.h-slide.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/deck.v-slide.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/deck.fade.css">

  <script type="text/javascript" src="{{ site.url }}/assets/js/modernizr.custom.js"></script>
</head>

<body>
  <div class="deck-container">

    <!-- Begin slides -->
    <section class="deck-slide h-slide uk-vertical-align" id="index">
      <div class="uk-vertical-align-middle">
        <h1>Building Chrome Extensions</h1>
      </div>
    </section>

    <section class="deck-slide h-slide" id="getting-started">
      <h2>Getting Started</h2>
      <p>chrome://extensions > check Developer mode > Load unpacked extension</p>
      <img class="uk-width-1-1" src="tut1.jpg" alt="chrome://extensions > check developer mode > load unpacked extension" />
    </section>

    <section class="deck-slide h-slide" id="icons">
      <h2>Icons</h2>
      <p>If some icon size is not provided, Chrome attempts to use the best size available. However, they must all be equal in height and width.</p>
      <ul>
        <li>128x128: installation and Chrome Web Store</li>
        <li>48x48: chrome://extensions</li>
        <li>16x16: favicon</li>
        <li>19x19: browser icon</li>
      </ul>
    </section>

    <section class="deck-slide h-slide" id="manifest">
      <h2>Manifest.json</h2>
      <p>Tells Chrome what your extension is and what it'll need to work.</p>
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <ul class="no-list">
            <li class="deck-slide fade" id="manifest-basic"><strong>Basic Settings</strong></li>
            <ul class="uk-margin-remove">
              <li class="deck-slide fade" id="manifest-basic1"><strong>manifest_version:</strong> version of the manifest file format (Version 1 was deprecated as of Chrome 18, so always use 2)</li>
              <li class="deck-slide fade" id="manifest-basic2"><strong>default_locale:</strong> for internationalization, specifies the subdirectory of _locales</li>
              <li class="deck-slide fade" id="manifest-basic3"><strong>name:</strong> name of extension</li>
              <li class="deck-slide fade" id="manifest-basic4"><strong>description:</strong> summary of what the extension does</li>
              <li class="deck-slide fade" id="manifest-basic5"><strong>version:</strong> used to update users</li>
              <li class="deck-slide fade" id="manifest-basic6"><strong>author:</strong> you</li>
              <li class="deck-slide fade" id="manifest-basic7"><strong>icons:</strong> string of icon filenames</li>
              <li class="deck-slide fade" id="manifest-basic8"><strong>permissions:</strong> which Chrome APIs the extension uses, lets the user know what the extension might affect</li>
            </ul>

            <li class="deck-slide uk-margin-top" id="manifest-background">
              <strong>Background Pages</strong>
              <ul class="no-list">
                <li>Main logic and initialization, bridges together components of the extension</li>
              </ul>
            </li>
            <ul>
              <li class="deck-slide fade" id="manifest-background1"><strong>Persistent page:</strong> active all the time</li>
              <li class="deck-slide fade" id="manifest-background2"><strong>Event page:</strong> triggered only when needed (recommended, saves memory and overall performance)</li>
            </ul>

            <li class="deck-slide uk-margin-top" id="manifest-content">
              <strong>Content Script</strong>
              <ul class="no-list">
                <li>Accesses the current page's DOM</li>
              </ul>
            </li>
            <ul>
              <li class="deck-slide fade" id="manifest-content1"><strong>Matches:</strong> determines which pages the content script will be injected into</li>
              <li class="deck-slide fade" id="manifest-content2"><strong>CSS/JS:</strong> list of files to be injected</li>
            </ul>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <pre><code>{% include_relative manifest.html %}</code></pre>
        </div>
      </div>
    </section>

    <section class="deck-slide h-slide" id="ui-browser">
      <h2>User Interface</h2>
      <h3>Browser Action</h3>
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <ul class="no-list">
            <li class="deck-slide fade" id="browser-1">
              Place an icon on the right side of the address bar.
              <img src="tut2.jpg" />
            </li>
            <li class="deck-slide fade" id="browser-2">
              <strong>Popup</strong><br>
              If a browser action has a popup, the popup appears when the user clicks the icon.
            </li>
            <li class="deck-slide fade uk-margin-top" id="browser-3">
              <strong>Badge</strong><br>
              Browser actions can optionally display a badge — a bit of text that is layered over the icon (ie notifications).
              <pre><code>chrome.browserAction.setBadgeText({text: "yeah"});</code></pre>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <pre><code>{% include_relative browser_action.html %}</code></pre>
        </div>
      </div>
    </section>

    <section class="deck-slide h-slide" id="ui-page">
      <h2>User Interface</h2>
      <h3>Page Action</h3>
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <ul class="no-list">
            <li class="deck-slide fade" id="page-1">
              Place an icon <em>inside</em> the address bar, but only shows up when specified (ex: RSS feed). Works very similarly to browser action but can't have pages.
              <img src="tut3.png" />
            </li>
            <li class="deck-slide fade uk-margin-top" id="page-2">
              You make a page action appear and disappear using the <code>pageAction.show</code> and <code>pageAction.hide</code> methods, respectively.
            </li>
            <li class="deck-slide fade uk-margin-top" id="page-3">
              When you show it, you specify the tab in which the icon should appear. The icon remains visible until the tab is closed or starts displaying a different URL
            </li>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <pre><code>{% include_relative page_action.html %}</code></pre>
        </div>
      </div>
    </section>

    <section class="deck-slide h-slide" id="api">
      <h2>APIs</h2>
      <p>
        Must include in <code>permissions</code> to use.<br>
        <a href="https://developer.chrome.com/extensions/api_index">https://developer.chrome.com/extensions/api_index</a>
      </p>
      <ul class="no-list">
        <li>
          <strong>bookmarks</strong><br>
          Create, organize, manipulate bookmarks
        </li>
        <li class="uk-margin-top">
          <strong>cookies</strong><br>
          Query and modify cookies
        </li>
        <li class="uk-margin-top">
          <strong>omnibox</strong><br>
          Register a keyword with the address bar<br>
          <img src="tut4.png">
        </li>
        <li class="uk-margin-top">
          <strong>tabs</strong><br>
          Interact with the browser's tabs
        </li>
        <li class="uk-margin-top">
          <strong>cookies</strong><br>
          Query and modify cookies
        </li>
      </ul>
    </section>
  </div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Deck Core and extensions -->
<script type="text/javascript" src="{{ site.url }}/assets/js/deck.core.js"></script>

<!-- Initialize the deck -->
<script>
$(function() {
  $.deck('.deck-slide');
});
</script>

</body>
</html>