---
layout: default
title: Blog
---

{% assign postsByYear = site.categories["blog"] | group_by_exp:"post", "post.date | date: '%Y'"  %}
<div class="m--bloglist">
  {% for curPost in postsByYear %}
    <div class="m--bloglist_yearwrap">
      <h2 class="m--bloglist_year">{{ curPost.name }}</h2>
    </div>
    {% for post in curPost.items %}
      <a href="{{ post.url }}" class="m--bloglist_anchor" title="{{ post.title }}" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="m--bloglist_item g--grid_row">
          <div class="g--grid_col-2 g--grid_col-lg-1">
            <time class="m--bloglist_date" datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ post.date | date: "%m.%d" }}</time>
          </div>
          <div class="g--grid_col-10 g--grid_col-lg-11">
            <div class="m--bloglist_title">
              {{ post.title }}<span class="m--bloglist_read" aria-hidden="true"> ✓</span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  {% endfor %}
</div>
