---
layout: default
title: Blog
---

{% assign postsByYear = site.categories["blog"] | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for curPost in postsByYear %}
  <div class="m--content_titlewrap">
    <h2 class="m--content_title">{{ curPost.name }}</h2>
  </div>
  <div class="m--bloglist">
    {% for post in curPost.items %}
      <a href="{{ post.url }}" title="{{ post.title }}">
        <div class="m--bloglist_item g--grid_row">
          <div class="g--grid_col-2 g--grid_col-lg-1">
            <div class="m--bloglist_date">{{ post.date | date: "%m.%d" }}</div>
          </div>
          <div class="g--grid_col-10 g--grid_col-lg-11">
            <div class="m--bloglist_title">{{ post.title }}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endfor %}
