.m--alert {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: $v--color-gray1;
  text-align: left;
}

.m--alert_title {
  font-family: $v--font-mono;
  // color: $v--color-blue;
}

.m--alert_body {
  line-height: 1.5;
}
