.m--anchorWrap-external-persist a,
.m--anchorWrap-external-hover a {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  transition: color 200ms;

  &[target="_blank"]:after {
    content: '\2197';
    font-family: $g--font-sans-serif;
    color: $g--color-gray3;
  }
}

.m--anchorWrap-external-persist a {
  &[target="_blank"] {
    position: relative;
    margin-right: 1.1em;
  }
}

@media (min-width: map-get($g--grid-breakpoints, md)) {
  .m--anchorWrap-external-hover a {
    // external link
    &[target="_blank"] {
      transition: margin 250ms;

      &:after {
        display: none;
        position: absolute;
        margin-left: 0.1em;
      }

      &:hover {
        margin-right: 1.1em;

        &:after {
          display: inline-block;
        }
      }
    }
  }
}
