.m--anchorWrap a {
  color: inherit;
  text-decoration: underline;
  transition: color 200ms;

  // &:hover {
  //   color: $v--color-black;
  // }
}

@media (min-width: map-get($v--grid-breakpoints, md)) {
  .m--anchorWrap-external-persist a,
  .m--anchorWrap-external-hover a {
    display: inline-block;

    &[target="_blank"]:after {
      content: '\2197';
      font-family: $v--font-sans-serif;
      color: $v--color-gray3;
    }
  }

  .m--anchorWrap-external-persist a {
    &[target="_blank"] {
      position: relative;
      margin-right: 1.1em;
    }
  }

  .m--anchorWrap-external-hover a {
    // external link
    &[target="_blank"] {
      transition: margin 250ms;

      &:after {
        display: none;
        position: absolute;
        margin-left: 0.1em;
      }

      &:hover {
        margin-right: 1.1em;

        &:after {
          display: inline-block;
        }
      }
    }
  }
}
