.m--blogHeader {
  margin-bottom: 2rem;
  padding-right: 0;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding-right: 2rem;
  }
}

.m--blogHeader_title {
  line-height: 1.2;
  font-family: $v--font-serif;
  font-weight: 700;
  font-size: 2rem;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    font-size: 2.4rem;
  }
}

.m--blogHeader_date {
  display: block;
  margin-bottom: 0.5rem;
  font-family: $v--font-mono;
  color: $v--color-blue;
}

// .m--blogHeader_title,
// .m--blogHeader_date {
//   @include u--animation-fadeInUp;
// }
