.m--blogpost {
  padding-top: 300px;
  padding-top: 43vh;
}

.m--blogpost_meta {
  // margin-bottom: 50px;
}

.m--blogpost_title {
  line-height: 1.2;
  font-family: $g--font-serif;
  font-weight: 700;
  font-size: 3rem;
}

.m--blogpost_date {
  font-family: $g--font-mono;
  color: $g--color-gray5;
}
