// .m--blogList_yearwrap {
//   margin-top: 20px;
//   border-bottom: 1px solid $v--color-black;

//   &:first-of-type {
//     margin-top: 0;
//   }
// }

// .m--blogList_year {
//   padding: 20px 0;
//   line-height: 1.2;
//   font-family: $v--font-serif;
//   font-size: 1.75rem;

//   &:first-of-type {
//     padding-top: 0;
//   }
// }

.m--blogList_header {
  margin-bottom: 1rem;
  font-family: $v--font-serif;
  font-size: 1.6rem;
}

.m--blogList_yearBorder {
  border-top: 1px solid $v--color-black;
}

.m--blogList_year,
.m--blogList_date,
.m--blogList_title {
  line-height: $v--blogList_item-height / 2;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    line-height: $v--blogList_item-height;
  }
}

.m--blogList_year {
  line-height: $v--blogList_item-height;
  font-family: $v--font-mono;
  color: $v--color-blue;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    float: left;
    width: 3rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    width: 4rem;
  }
}

.m--blogList_anchor {
  display: block;
  
  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    margin-left: 3rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-left: 4rem;
  }
}

.m--blogList_date,
.m--blogList_title {
  color: $v--color-gray4;
  // transition: color 250ms;

  .m--blogList_anchor:hover &,
  .m--blogList_anchor:focus & {
    color: $v--color-black;
  }

  .m--blogList_anchor:last-child & {
    border: none;
  }
}

.m--blogList_date {
  display: block;
  border-bottom: 1px solid transparent; // for consistent height
  font-family: $v--font-mono;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    float: left;
    width: 4.5rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    width: 5.5rem;
  }
}

.m--blogList_title {
  border-bottom: 1px solid $v--color-black;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    margin-left: 4.5rem;
  }
}

.m--blogList_read {
  @include noSelect();
  color: $v--color-white;

  .m--blogList_anchor:visited & {
    color: $v--color-gray3;
  }
}
