.m--blogHeader {
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.m--blogHeader_title {
  line-height: 1.2;
  font-family: $g--font-serif;
  font-weight: 700;
  font-size: 2rem;

  @media (min-width: map-get($g--grid-breakpoints, md)) {
    font-size: 2.4rem;
  }
}

.m--blogHeader_date {
  display: block;
  margin-bottom: 5px;
  font-family: $g--font-mono;
  color: $g--color-blue;
}

.m--blogHeader_title,
.m--blogHeader_date {
  animation-name: fadeInUp;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
