.m--blogheader {
  position: fixed;
}

.m--blogheader_title {
  line-height: 1.2;
  font-family: $g--font-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

.m--blogheader_date {
  display: block;
  margin-bottom: 5px;
  font-family: $g--font-mono;
  color: $g--color-gray5;
}
