.m--blogList {
  border-bottom: 1px solid $v--color-black;
}

.m--blogList_yearBorder {
  border-top: 1px solid $v--color-black;
}

.m--blogList_year,
.m--blogList_date,
.m--blogList_title {
  line-height: $v--blogList_item-height / 2;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    line-height: $v--blogList_item-height;
  }
}

.m--blogList_year {
  line-height: $v--blogList_item-height;
  font-family: $v--font-mono;
  color: $v--color-blue;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    float: left;
    width: 3rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    width: 4rem;
  }
}

.m--blogList_anchor {
  display: block;
  
  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    padding: 0;
    margin-left: 3rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-left: 4rem;
  }
}

.m--blogList_date,
.m--blogList_title {
  color: $v--color-gray4;
  // transition: color 250ms;

  .m--blogList_anchor:hover &,
  .m--blogList_anchor:focus & {
    color: $v--color-black;
  }

  .m--blogList_anchor:last-child & {
    border: none;
  }
}

.m--blogList_date {
  display: block;
  border-bottom: 1px solid transparent; // for consistent height
  font-family: $v--font-mono;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    float: left;
    width: 4.5rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    width: 5.5rem;
  }
}

.m--blogList_title {
  border-bottom: 1px solid $v--color-black;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    margin-left: 5.5rem;
  }
}

.m--blogList_read {
  @include noSelect();
  color: $v--color-white;

  // silly I know...but transparent doesn't work
  .m--blogList_anchor:hover & {
    color: $v--color-yellow;
  }

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    .m--blogList_anchor:visited & {
      color: $v--color-gray3;
    }
  }
}
