.m--content {
  padding-bottom: 2rem;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding-bottom: 4rem;
  }

  > *:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 2.5rem auto 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.25rem;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      font-size: 1.5625rem;
    }
  }

  h3 {
    line-height: 1.5;
    // font-family: $v--font-sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: $v--color-black;
  }

  > p {
    position: relative;
    line-height: 1.8;
    font-size: 1rem;
    color: $v--color-gray5;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      line-height: 1.875;
      font-size: 1.1rem;
    }

    &:first-child {
      line-height: 1.7;
      font-size: 1.2rem;
      color: $v--color-black;

      @media (min-width: map-get($v--grid-breakpoints, md)) {
        line-height: 1.8;
        font-size: 1.3rem;
      }
    }
  }

  em {
    background-color: $v--color-yellow;
    font-style: normal;
  }

  figure {
    position: relative;
    margin: 3rem 0;
    text-align: center;
  }

  figure.m--content_figure {
    position: absolute;
    width: 250px;
    // margin: auto;

    &.m--content_figure-right {
      left: 100%;
      padding-left: 6%;
      text-align: left;
    }

    &.m--content_figure-left {
      right: 100%;
      padding-right: 6%;
      text-align: right;
    }

    img {
      max-height: 200px;
    }
  }

  figcaption {
    margin-top: 1rem;
    // padding-left: 1rem;
    line-height: 1.4;
    font-family: $v--font-mono;
    font-size: 1rem;
    color: $v--color-gray4;
    text-align: left;

    &:before {
      content: '\2191';
      // position: absolute;
      // left: 0;
      margin-right: 0.5rem;
      vertical-align: text-bottom;
      color: $v--color-black;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  video {
    max-width: 90%;
    max-height: 90%;
    margin: 1rem 0 2rem;
    box-shadow: rgba(0,0,0,0.4) 0 20px 50px;
    object-fit: cover;
  }

  blockquote {
    margin: 3rem;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      margin: 4rem 2.5rem;
    }

    > p {
      margin-bottom: 0.8rem;
      line-height: 1.4;
      font-size: 1.8rem;

      @media (min-width: map-get($v--grid-breakpoints, md)) {
        margin-bottom: 1rem;
        line-height: 1.5;
        font-size: 2rem;
      }
    }

    &.hasQuotes > p {
      position: relative;

      &:before,
      &:after {
        content: '\22';
      }

      &:before {
        position: absolute;
        left: -0.8rem;
      }
    }

    cite {
      position: relative;
      display: block;
      font-family: $v--font-mono;
      font-style: normal;
      color: $v--color-gray4;

      &:before {
        content: '\2014';
        position: absolute;
        left: 0;
        color: $v--color-blue;
      }

      > div {
        margin-left: 1.2rem;

        &:first-child {
          color: $v--color-blue;
        }
      }
    }
  }

  code,
  pre {
    font-family: $v--font-mono;
    font-family: 1rem;
    background-color: $v--color-gray1;
    color: $v--color-black;

    // .touchevents & {
    //   font-size: 0.6rem;
    // }

    // @media (min-width: map-get($v--grid-breakpoints, sm)) {
    //   font-size: 1rem;
    // }
  }

  pre {
    padding: 1rem;
    direction: ltr;
    text-align: left;
    font-size: 1rem;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
    overflow-x: scroll;
  }

  code {
    display: inline-block;
    padding: 0 0.2rem;
  }

  pre code {
    padding: 0;
  }

  ul, ol {
    li {
      margin-bottom: 0.5rem;
      line-height: 1.75;
      font-size: 1rem;
      color: $v--color-gray5;

      @media (min-width: map-get($v--grid-breakpoints, md)) {
        line-height: 1.875;
        font-size: 1.1rem;
      }
    }
  }
}
