.m--content {
  padding-bottom: 2rem;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    padding-bottom: 4rem;
  }

  > *:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 2.5rem auto 1.2rem;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 1.25rem;

    @media (min-width: map-get($v--grid-breakpoints, md)) {
      font-size: 1.5625rem;
    }
  }

  p {
    line-height: 1.875;
    font-size: 1rem;
    color: $v--color-gray5;

    &:first-child {
      line-height: 1.8;
      font-size: 1.2rem;
      color: $v--color-black;
    }
  }

  figure {
    position: relative;
    margin: 1em auto;
  }

  figcaption {
    line-height: 1.3;
    font-size: 1rem;
    color: $v--color-gray4;

    &:before {
      content: '\2191';
      margin-right: 0.5rem;
      vertical-align: text-bottom;
      color: $v--color-black;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  code,
  pre {
    font-family: $v--font-mono;
    font-family: 1rem;
    background-color: $v--color-gray1;
    color: $v--color-black;

    .touchevents & {
      font-size: 0.6rem;
    }

    @media (min-width: map-get($v--grid-breakpoints, sm)) {
      font-size: 1rem;
    }
  }

  pre {
    padding: 1rem;
    direction: ltr;
    text-align: left;
    font-size: 1rem;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
    overflow-x: scroll;
  }

  code {
    display: inline-block;
    padding: 0 0.2rem;
  }

  pre code {
    padding: 0;
  }

  ul {
    li {
      margin-bottom: 0.5rem;
      line-height: 1.875;
      font-size: 1rem;
      color: $v--color-gray5;
    }
  }
}
