.m--header {
  position: fixed;
  width: 100%;
  height: $m--header-height;
  border-bottom: 1px solid $g--color-gray1;
  background-color: $g--color-white;
  z-index: 1000;
}

.m--header_title,
.m--header_menu_anchor {
  line-height: $m--header-height;
  font-family: $g--font-mono;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: $g--color-gray3;

  &:hover,
  &:focus {
    color: $g--color-black;
  }
}

.m--header_menu {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.m--header_menu_item {
  display: inline-block;
  margin-left: 20px;
}
