.m--header {
  @include clearfix();
  position: absolute;
  top: 0;
  width: 100%;
  height: $v--header-height;
  background-color: $v--color-white;
  z-index: 10;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    height: $v--header-height-md;
  }

  .no-touchevents &.fixed {
    position: fixed;
    border-bottom: 1px solid $v--color-gray1;
  }
}

.m--header_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.m--header_menu_item {
  display: inline-block;
  margin-left: 0.5rem;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    margin-left: 1rem;
  }
}

.m--header_title,
.m--header_menu_anchor,
.m--header_pageTitle {
  line-height: $v--header-height;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    line-height: $v--header-height-md;
  }
}

.m--header_title,
.m--header_menu_anchor {
  font-family: $v--font-sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: $v--color-gray3;
  transition: color 250ms;

  .no-touchevents &:hover {
    color: $v--color-black;
  }
}

// .m--header_titleAccent {
//   font-size: 1.2rem;
//   color: $v--color-blue;
// }

.m--header_pageTitle {
  display: none;
  text-align: center;
  font-family: $v--font-serif;
  font-size: 1.4rem;
  color: $v--color-black;
  transition: top 250ms;
  z-index: -1;

  @media (min-width: map-get($v--grid-breakpoints, sm)) {
    position: absolute;
    display: block;
    top: -$v--header-height;
    left: 0;
    right: 0;

    &.visible {
      top: 0;
    }
  }
}

.m--header_menu_anchor {
  position: relative;
  text-decoration: none;

  .touchevents &.active {
    color: $v--color-blue;
  }

  .no-touchevents & {
    &::before {
      content: '';
      border-bottom: 0.1rem solid $v--color-blue;
      position: absolute;
      top: 50%;
      width: 0;
      right: 100%;
      transition: right .3s ease-in-out,
                  width .3s ease-in-out;
      transition-timing-function: cubic-bezier(0.19,1,.22,1);
    }

    &.active {
      text-decoration: none;

      &::before {
        right: 0;
        width: 100%;
      }
    }

    &.active:hover {
      &::before {
        right: 100%;
        width: 0;
      }
    }
  }
}
