.notFound {
  position: relative;
  font-size: 2rem;

  &:before,
  &:after {
    display: block;
    content: '404';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }

  &:after {
    @include u--animation-glitch;
    color: #f0f;
    z-index: -2;
  }

  &:before {
    @include u--animation-glitch;
    color: #0ff;
    z-index: -1;
  }
}