.m--paginate {
  border-top: 2px solid $v--color-gray1;
  font-family: $v--font-mono;
}

.m--paginate_prev,
.m--paginate_next {
  display: block;
  padding: 0.6rem;
  background-color: $v--color-white;
  text-align: center;
  color: $v--color-gray5;
  text-decoration: none;

  span {
    position: relative;
    display: block;
    color: $v--color-gray3;
  }

  // &:hover,
  // &:focus {
  //   background: none;
  // }
}

.m--paginate_prev {
  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-left: -1rem;
    padding-left: 1rem;
    text-align: left;

    span {
      padding-left: 1rem;

      &:before {
        content: '\2190';
        position: absolute;
        left: 0;
        margin-right: 0.4rem;
        transition: left 200ms;
      }
    }

    &:hover span:before {
      left: -0.6rem;
    }
  }
}

.m--paginate_next {
  @media (min-width: map-get($v--grid-breakpoints, md)) {
    margin-right: -1rem;
    padding-right: 1rem;
    text-align: right;

    span {
      padding-right: 1rem;

      &:after {
        content: '\2192';
        position: absolute;
        right: 0;
        margin-left: 0.4rem;
        transition: right 200ms;
      }
    }

    &:hover span:after {
      right: -0.6rem;
    }
  }
}

.m--paginate_all {
  display: block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: $v--color-gray3;
}
