.m--paginate {
  border-top: 2px solid $v--color-gray1;
}

.m--paginate_prev {
  margin-left: -15px;
  padding-left: 15px;
  text-align: center;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    text-align: left;

    span {
      padding-left: 15px;

      &:before {
        content: '\2190';
        position: absolute;
        left: 0;
        margin-right: 5px;
        transition: left 200ms;
      }
    }

    &:hover span:before {
      left: -10px;
    }
  }
}

.m--paginate_next {
  margin-right: -15px;
  padding-right: 15px;
  text-align: center;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    text-align: right;

    span {
      padding-right: 15px;

      &:after {
        content: '\2192';
        position: absolute;
        right: 0;
        margin-left: 5px;
        transition: right 200ms;
      }
    }

    &:hover span:after {
      right: -10px;
    }
  }
}

.m--paginate_prev,
.m--paginate_next {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $v--color-white;
  font-family: $v--font-mono;
  color: $v--color-gray5;
  text-decoration: none;

  span {
    position: relative;
    display: block;
    color: $v--color-gray3;
  }

  // &:hover,
  // &:focus {
  //   background: none;
  // }
}
