.m--staticrypt {
  // margin: 2rem 0;
  text-align: center;
  @include u--animation-fade(750ms);

  // @media (min-width: map-get($v--grid-breakpoints, md)) {
    // margin: 6rem 0;
  // }
}

.m--staticrypt_password,
.m--staticrypt_submit {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
  outline: 0;
  height: 3rem;
  padding: 0 1rem;
  line-height: 3rem;
  font-family: $v--font-mono;
  font-size: 0.8rem;
}

.m--staticrypt_password {
  background: $v--color-gray1;
}

.m--staticrypt_submit {
  margin-left: 0.1rem;
  background: $v--color-gray2;
  cursor: pointer;

  &:hover, &:focus {
    background: $v--color-blue;
    color: $v--color-white;
  }
}
