.m--workLinks {
  // position: fixed;
}

.m--workLinks_list {
  float: right;
  display: block;
  position: relative;
  right: 3px;
  margin: 0;
  border: 2px solid $v--color-black;
  padding: 10px;
  list-style: none;
  font-family: $v--font-mono;
  background-color: $v--color-white;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: -5px;
    bottom: -5px;
    background-color: $v--color-black;
    z-index: -1;
  }
}
