.m--worklist {
  margin-top: 100px;
}

.m--worklist_label {
  margin-bottom: 30px;
  font-family: $g--font-mono;
  font-size: 1rem;
  color: $g--color-gray5;

  span {
    font-family: $g--font-sans-serif;
    vertical-align: text-top;
  }
}

.m--worklist_label,
.m--worklist_anchor {
  animation-name: fadeInUp;
  animation-delay: 250ms;
  animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

ul.m--worklist_list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    position: relative;
    height: 90px;
  }
}

.m--worklist_img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 65%;
  max-height: 65%;
  margin: auto;
  overflow: auto;
  z-index: 2000;
  // opacity: 0;
  // transition: opacity 250ms;

  .m--worklist_anchor:hover + & {
    display: block;
    // opacity: 1;
  }
}

.m--worklist_anchor {
  display: block;
  position: absolute;
  color: $g--color-black;
  cursor: pointer;
  
  &:hover,
  &:focus {
    // background-color: $g--site-selection-bg;
    z-index: 2001;
  }
}

.m--worklist_title {
  font-family: $g--font-serif;
  font-size: 3.4rem;
}

.m--worklist_year {
  vertical-align: top;
  font-family: $g--font-mono;
  font-size: 1.2rem;
  color: $g--color-blue;
}
