.m--workList {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 7rem;
  list-style: none;

  li {
    display: block;
    margin: 1.5rem 0;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    li {
      margin: 3rem 0;
    }
  }
}

.m--workList_anchor {
  display: inline-block;
  // padding: $v--workList_anchor-padding $v--workList_anchor-padding 0;
  color: $v--color-black;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    position: relative;
    // left: -$v--workList_anchor-padding;

    &:hover,
    &:focus {
      z-index: 2001;
    }

    &:after {
    content: '\2192';
    margin-left: 0.5rem;
    line-height: 1.2em;
    font-size: 1.9rem;
  }

    img {
      display: none;
    }
  }
}

.m--workList_title {
  line-height: 1.2em;
  font-family: $v--font-serif;
  font-size: 1.9rem;
  text-decoration: underline;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    font-size: 2.8rem;
  }

  @media (min-width: map-get($v--grid-breakpoints, lg)) {
    font-size: 2.8rem;
  }
}

.m--workList_year {
  vertical-align: top;
  font-family: $v--font-mono;
  font-size: 1rem;
  color: $v--color-blue;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    font-size: 1.4rem;
  }
}

.m--workList_img {
  display: none;

  @media (min-width: map-get($v--grid-breakpoints, md)) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 65%;
    max-height: 65%;
    margin: auto;
    z-index: 2000;

    .m--workList_anchor:hover + & {
      display: block;
    }
  }
}
