.m--workheader {
  // margin-bottom: 50px;
  padding-bottom: 30px;
}

.m--workheader_title,
.m--workheader_subtitle {
  line-height: 1.1;
  font-family: $g--font-serif;
  font-weight: 700;
  font-size: 5.2rem;
  animation-name: fadeInUp;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.m--workheader_subtitle {
  color: transparent;
  text-stroke: 1px black;
  -webkit-text-stroke: 1px black;
  // text-shadow:
  //  -1px -1px 0 $g--color-black,  
  //   1px -1px 0 $g--color-black,
  //   -1px 1px 0 $g--color-black,
  //    1px 1px 0 $g--color-black;
}

.m--workheader_date {
  display: block;
  margin-bottom: 5px;
  font-family: $g--font-mono;
  color: $g--color-gray5;
}

.m--workheader_detailsWrap {
  position: fixed;
}

.m--workheader_details {
  float: right;
  display: block;
  position: relative;
  right: 3px;
  margin: 0;
  border: 2px solid $g--color-black;
  padding: 10px;
  list-style: none;
  font-family: $g--font-mono;
  background-color: $g--color-white;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: -5px;
    bottom: -5px;
    background-color: $g--color-black;
    z-index: -1;
  }

  // li {
    // position: relative;

    // &:not(:first-child) {
    //   margin-top: 20px;
    // }

    // &:not(:last-child) {
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: -7px;
    //     left: 0;
    //     width: 10px;
    //     height: 1px;
    //     background-color: $g--color-black;
    //   }
    // }
  // }

  a {
    color: $g--color-gray5;
  }
}
