.m--workMenu {
  padding-right: 2rem;
  opacity: 0;
  transition: opacity 200ms;
}

.m--workMenu_title {
  line-height: 1.2;
  font-family: $v--font-serif;
  font-weight: 700;
  font-size: 1.5rem;

  @media (min-width: map-get($v--grid-breakpoints, xl)) {
    font-size: 1.8rem;
  }
}

.m--workMenu_list {
  padding: 0;
  list-style: none;

  li {
    line-height: 1.5;
    font-size: 1rem;

    &.active {
      &:after {
        content: '\2022';
        font-family: $v--font-sans-serif;
        color: $v--color-blue;
      }

      a {
        color: $v--color-black;
      }
    }
  }

  a {
    font-family: $v--font-mono;
    color: $v--color-gray2;
  }
}

.m--workMenu_top {
  position: relative;
  margin-top: 1rem;
  padding-left: 1rem;

  &:before {
    content: '\2191';
    position: absolute;
    top: -0.1rem;
    left: 0rem;
    color: $v--color-gray2;
  }

  a {
    // color: $v--color-gray5;
  }
}