.m--zoomImage {
    position: relative;
    width: 100%;
    margin-left: 0;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    will-change: width, margin;

    figcaption {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        will-change: width, margin;
    }
}

.m--zoomImage-open {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
