// --------------------------------------------------
// Variables
// --------------------------------------------------
// Table of Contents
// - Global
//   - Color
//   - Site
//   - Grid
// - Module
//   - Header

// --------------------------------------------------
// Global
// --------------------------------------------------
// Font
// --------------------------------------------------
$v--font-url:                   '../fonts';
$v--font-serif:                 'Lyon Display', Georgia, serif;
$v--font-sans-serif:            'Graphik', Helvetica Neue, Helvetica, Arial, sans-serif;
$v--font-mono:                  'GT Pressura Mono', monospace;

// Color
$v--color-white:                #ffffff;
$v--color-black:                #333333;
$v--color-blue:                 #0000ff;
$v--color-yellow:               #fefeca;
$v--color-gray1:                #f6f6f6;
$v--color-gray2:                #dddddd;
$v--color-gray3:                #a2a2a2;
$v--color-gray4:                #6f6f6f;
$v--color-gray5:                #555d6d;

// Site
// --------------------------------------------------
$v--site-font-family:           $v--font-sans-serif;

// Grid
// --------------------------------------------------
$v--grid-columns:               12;
$v--grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$v--grid-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 1200px
);

$v--grid-gutter-width:          0;
$v--grid-gutter-widths: (
  xs: $v--grid-gutter-width,
  sm: $v--grid-gutter-width,
  md: $v--grid-gutter-width,
  lg: $v--grid-gutter-width,
  xl: $v--grid-gutter-width
);

// --------------------------------------------------
// Module
// --------------------------------------------------
// Header
// --------------------------------------------------
$v--header-height:              2.3rem;
$v--header-height-md:           3.5rem;

// Paginate
// --------------------------------------------------
$v--paginate-height:            4rem;

// Main
// --------------------------------------------------
$v--main-marginTop:             $v--header-height + 2rem;
$v--main-marginTop-md:          $v--header-height-md + 4rem;

// Worklist
// --------------------------------------------------
$v--workList_item-marginLeft:   2.6rem;
$v--workList_anchor-padding:    0.4rem;

// Bloglist
// --------------------------------------------------
$v--blogList_item-height:       3rem;

// --------------------------------------------------
// Layout
// --------------------------------------------------

