{% extends "base.html" %}
{% block title %}Lillian Chen | About{% endblock %}

{% block style %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="static/css/about.css">
{% endblock %}

{% block content %}
<div id="container" class="uk-width-9-10 uk-width-medium-8-10 uk-width-large-7-10 uk-container-center">
	<div class="uk-width-8-10 uk-container-center">
		<div id="content" class="uk-text-justify">
			262A William Keeton House<br>
			Cornell University<br>
			Ithaca, NY 14853<br><br>
			For business inquiries, I can be reached at <a href="mailto:qc53@cornell.edu">qc53@cornell.edu</a>.
		</div>
	</div>
</div>
{% endblock %}