{% extends "base.html" %}
{% block title %}Lillian Chen | Work{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/work.css">
{% endblock %}

{% block content %}
<div id="container" class="uk-width-9-10 uk-width-medium-9-10 uk-width-large-8-10 uk-container-center">
	<div class="uk-grid" data-uk-grid-margin="10px" data-uk-grid-match>
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-with-large-1-2">
			<div id="title">My works</div>
		</div>
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-with-large-1-2">
			<a class="uk-overlay" href="work/fiberspark">
				<div class="uk-overlay-caption uk-hidden-small">Branding / Website Concept</div>
				<img src="/static/img/work1.jpg">
			</a>
		</div>
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-with-large-1-2">
			<a class="uk-overlay" href="work/dreamcatcher">
				<div class="uk-overlay-caption uk-hidden-small">Website Concept</div>
				<img src="/static/img/work2.jpg">
			</a>
		</div>
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-with-large-1-2">
			<a class="uk-overlay" href="work/cbr">
				<div class="uk-overlay-caption uk-hidden-small">Print</div>
				<img src="/static/img/work3.jpg">
			</a>
		</div>
	</div>
</div>
{% endblock %}