{% extends "base.html" %}
{% block title %}Lillian Chen | about{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/work-detail.css">
{% endblock %}

{% block content %}
<div id="container" class="uk-width-9-10 uk-width-medium-8-10 uk-width-large-8-10 uk-container-center">
	<div class="uk-width-8-10 uk-container-center">
		<img id="intro-logo" src="/static/img/fiberspark/plain-logo.png" width="40%" />
		<div id="overflow-container" class="uk-visible-large">
			<img class="uk-width-1 uk-width-medium-3-10 uk-width-large-3-10" src="/static/img/fiberspark/screen1.png"/>
			<img class="uk-width-1 uk-width-medium-3-10 uk-width-large-3-10" src="/static/img/fiberspark/screen2.png"/>
			<img class="uk-width-1 uk-width-medium-3-10 uk-width-large-3-10" src="/static/img/fiberspark/screen3.png"/>
		</div>
		<div id="content" class="uk-text-justify">
			<div id="header">Background About Fiberspark</div>
			Here at Fiberspark we noticed two problems with the internet service offered by other companies: it took too long to do the things we love, and hassle free help was hard to come by. We looked into the technology and found that fiber optics house an underutilized potential to revolutionize internet service and provide all the content you love at significantly faster speeds.<br><br>
			<div id="header">New Logo</div>
			The original Fiberspark logo was simply plain text with "Fiber" in black and "Spark" in red, very similar to my first draft logo.<br>
		</div>
		<img class="uk-width-1 uk-width-medium-8-10 uk-width-large-7-10" src="/static/img/fiberspark/rejected1.png"/><br>
		<div id="content" class="uk-text-justify">
			Then I decided to completely scrap the feel of the original font, which was corporate and constricting. This was undesirable to our target audience and does not offer the highly innovative and whimsical ambience that Fiberspark actually embodies.<br><br>
			Therefore, I changed the font to embrace a more modern look and played with a hummingbird to convey speed.<br>
		</div>
		<img class="uk-width-1 uk-width-medium-8-10 uk-width-large-7-10" src="/static/img/fiberspark/rejected2.png"><br>
		<div id="content" class="uk-text-justify">
			Finally, I realized the hummingbird as it was presented itself very awkwardly and out of place. It gave the logo the feel of a "boutique" rather than "high speed internet". Facing this challenge, I sketched a preliminary bird made up of lines to come together like a network.<br>
		</div>
		<img class="uk-width-8-10 uk-width-medium-8-10 uk-width-large-7-10" src="/static/img/fiberspark/bird-process.png"/><br>
		<div id="content" class="uk-text-justify">
			<div id="header">Final Version</div>
		</div>
		<img src="/static/img/fiberspark/logo.jpg" width="100%" />
		<div id="content" class="uk-text-justify">
	</div>
	<div class="uk-hidden-large">
		<img src="/static/img/fiberspark/screen1.png"/>
		<img src="/static/img/fiberspark/screen2.png"/>
		<img src="/static/img/fiberspark/screen3.png"/>
	</div>
	<a class="scroll" href="#nav" data-uk-smooth-scroll><i class="uk-icon-angle-up"></i></a>
</div>
{% endblock %}