<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  
  <main id="main" role="main" aria-labelledby="page-title">
    <div id="barba-wrapper">
      <article class="barba-container g--grid-fixed" data-namespace="default" itemscope>
        <div data-transition="fade">
          <h1 id="page-title" class="a--pageTitle" rel="bookmark" itemprop="name headline">
            {{ page.title }}
          </h1>
          <section>
            {{ content }}
          </section>
        </div>
      </article>
    </div>
  </main>

  {% include scripts.html %}
</body>
</html>