<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Lillian Chen | {{ page.title }}</title>
	  <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/ico.png">
	  <script type="text/javascript" src="//use.typekit.net/yqe1cnq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/normalize.css">
	  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/uikit.css">
	  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/base.css">
	  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
	  <style type="text/css">
      .lc-nav-content a#{{ page.id }} {
      	border-bottom: 2px solid #111;
      }
    </style>
	  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/uikit.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/index.js"></script>
	</head>

	<body class="works uk-width-1-1 uk-text-center">
		<div class="construction uk-width-1-1 uk-height-1-1 uk-vertical-align">
			<div class="uk-vertical-align-middle tk-vollkorn">
				Doing some awesome re-construction right now.<br>Come back soon!
			</div>
		</div>
		<div class="lc-nav uk-width-4-5 uk-text-center uk-vertical-align">
			<div class="lc-nav-content uk-width-1-1 uk-vertical-align-middle uk-text-right">
				<a href="{{ site.url }}/index.html"><img class="uk-float-left" src="{{ site.url }}/assets/img/signature.png"></a>
				<a id="works" href="{{ site.url }}/index.html">Works</a>
				<a id="about" href="{{ site.url }}/about">About</a>
				<a id="blog" href="{{ site.url }}/blog">Blog</a>
			</div>
		</div>
		{{ content }}
		<div class="lc-border lc-border-left"></div>
    <div class="lc-border lc-border-right"></div>
    <div class="lc-border lc-border-top"></div>
    <div class="lc-border lc-border-bottom"></div>
	</body>
</html>