doc
html(lang="en")
  | {% include head.html %}
  body.l--post
    .l--post_bg.l--index
      .g--grid-fixed
        | {% include nav.html %}
        | {% include workList.html %}
        | {% include blogList.html %}
      a.l--post_bg_overlay(href="/")
      a.l--post_close(href="/") &uarr; Back
    .l--post_content.g--grid
      .g--grid_row
        | {% if page.category == "writing" %}
        h3.l--post_date {{ page.date | date: "%b %d, %Y" }}
        | {% elsif page.category == "project" %}
        h3.l--post_date {{ page.company }}
        | {% endif %}
        h1 {{ page.title }}
        | {{ content }}
    | {% include scripts.html %}