<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/icon.png">
        <title>Lillian Chen | {{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/uikit.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/base.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/post-writing.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/js/uikit.js"></script>
    </head>
    <body>
      <div id="wrap" class="uk-width-1-1 uk-width-medium-9-10 uk-width-large-4-5 uk-container-center uk-text-center">
      	{% include header.html %}
        <div class="uk-width-4-5 uk-width-medium-7-10 uk-width-large-3-5 uk-container-center uk-text-left">
            <div class="uk-width-1-1 uk-text-center"><h1>{{ page.title }}</h1></div>
            <br>
            {{ content }}
		</div>
      </div>
    </body>
</html>