---
layout: default
bin: blog-detail
---

<div class="article--border container--medium">
  {% if page.date != null %}
    <div class="article__date">&mdash; {{ page.date | date: "%B %-d, %Y" }}</div>
  {% endif %}

  {% if page.title != null %}
    <h1 class="article__title">{{ page.title }}</h1>
  {% endif %}
  <div class="article__body">
    {{ content }}

    {% for post in site.categories["travel"] %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}

    {% for post in site.categories["travel"] %}
      {% if post_index0 == forloop.index %}
        {% if post.date <= site.time %}
          {% assign next_post = post %}
        {% endif %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post %}
      {% endif %}
    {% endfor %}

    {% if prev_post or next_post %}
      <hr>
    {% endif %}

    {% if prev_post %}
      <div class="article__previous">
        <a href="{{ prev_post.url }}"><i class="uk-icon-long-arrow-left"></i> {{ prev_post.title }}</a>
      </div>
    {% endif %}

    {% if next_post %}
      <div class="article__next">
        <a href="{{ next_post.url }}">{{ next_post.title }} <i class="uk-icon-long-arrow-right"></i></a>
      </div>
    {% endif %}
  </div>
</div>
