---
layout: default
---

<div class="project">
  <div class="project__detail">
    <div>
      <div class="detail">
        <div class="detail__title">Title</div>
        <div class="detail__info">{{ page.title }}</div>
      </div>

      {% if page.role or page.time %}
        <div class="detail">
          <div class="detail__title">
            {% if page.role %}
              Role
            {% else %}
              Date
            {% endif %}
          </div>
          <div class="detail__info">
            {% if page.role %}
              {{ page.role }}
              <br>
            {% endif %}
            {{ page.time }}
          </div>
        </div>
      {% endif %}

      <!-- {% for detail in page.details %}
        <div class="detail">
          <div class="detail__title">{{ detail[0] }}</div>
          <div class="detail__info">{{ detail[1] }}</div>
        </div>
      {% endfor %} -->

      {% if page.tags %}
        <div class="detail">
          <div class="detail__title">Skills</div>
          <div class="detail__info">
            {% for skill in page.tags %}
              {{ skill }}{% if forloop.index != forloop.length %}, {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if page.links %}
        <div class="detail">
          <div class="detail__title">Links</div>
          <div class="detail__info">
            {% for link in page.links %}
              <a href="{{ site.url }}{{ link[1] }}" target="_blank">{{ link[0] }}</a>
              {% if forloop.index != forloop.length %}<br>{% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <br>
      
      <div class="detail">
        <div class="detail__body">
          {{ content }}

          {% for post in site.categories["works"] %}
            {% if post.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
            {% endif %}
          {% endfor %}

          {% for post in site.categories["works"] %}
            {% if post_index0 == forloop.index %}
              {% assign next_post = post %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
              {% assign prev_post = post %}
            {% endif %}
          {% endfor %}

          {% if prev_post or next_post %}
            <hr>
          {% endif %}

          {% if prev_post %}
            <div class="article__previous">
              <a href="{{ prev_post.url }}"><i class="uk-icon-long-arrow-left"></i> {{ prev_post.title }}</a>
            </div>
          {% endif %}

          {% if next_post %}
            <div class="article__next">
              <a href="{{ next_post.url }}">{{ next_post.title }} <i class="uk-icon-long-arrow-right"></i></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="project__images">
    {% for img in page.detail_img %}
      <img src="{{ site.url }}/assets/img/{{ page.slug }}/{{ img }}" />
    {% endfor %}
  </div>
</div>
