{% extends "base.html" %}
{% block title %}Lillian Chen | Cornell Business Review{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/base2.css">
{% endblock %}

{% block content %}
<div id="container" class="uk-width-9-10 uk-width-medium-8-10 uk-width-large-8-10 uk-container-center">
	<img class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-float-left" src="/static/img/work3.jpg">
	<div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-float-right uk-text-center">
		<div class="smallcaps category">The Magazine</div>
		<a href="/static/fall2013.pdf" target="_blank">Volume IV, Issue 1</a><br>
		<div class="smallcaps category">Miscellaneous</div>
		<a href="/work/cbr/1">2013 Recruitment Posters</a>
	</div>
</div>
{% endblock %}